<html>
{% extends 'base.html'%}
{% block content %}
<body style="background-image: linear-gradient( rgb(198, 201, 202),rgb(50, 147, 166));background-repeat:no-repeat">
<h1 style="color: black; text-align:center">Hi {{user.first_name}}, The jobs available as per your preferecs are :</h1>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</body>
<div style="background-color: rgba(234, 234, 234, 0.58);" class="w3-row-padding">
    <div class="w3-third">
      <h2>London</h2>
      <p>London is the capital city of England.</p>
      <p>It is the most populous city in the United Kingdom,
      with a metropolitan area of over 13 million inhabitants.</p>
</div>  
</div>
{% endblock %}
</html>