{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'homestyle.css' %}" rel="stylesheet" >
    <script src="{% static 'homescripts.js' %}"></script>
</head>
<style>
  #container2>.homediv4:hover{
    background-image: url("{% static 'images/suitcase1.png' %}"); 
    background-size: cover;
    background-blend-mode:normal;
    color:white
   }
  
#container2>.homediv5:hover{
  background-image: url("{% static 'images/coding.webp' %}");
  background-size: cover;
  background-blend-mode:normal;
  color:white
}
#container2>.homediv6:hover{
  background-image: url("{% static 'images/analytics1.png' %}");
  background-size: cover;
  background-blend-mode:normal;
  color:white
}
#container2>.homediv7:hover{
  background-image: url("{% static 'images/writing1.png' %}");
  background-size: cover;
  background-blend-mode:normal;
  color:white
}
#container2>.homediv8:hover{
  background-image: url("{% static 'images/education1.png' %}");
  background-size: cover;
  background-blend-mode:normal;
  color:white
}
#container2>.homediv9:hover{
  background-image: url("{% static 'images/food2.webp' %}");
  background-size: cover;
  background-blend-mode:normal;
  color:white
}
#container2>.homediv10:hover{
  background-image: url("{% static 'images/editing1.png' %}");
  background-size: cover;
  background-blend-mode:normal;
  color:white;
  font-weight: bolder;
}
#container2>.homediv11:hover{
  background-image: url("{% static 'images/speaker2.jpg' %}");
  background-size: cover;
  background-blend-mode:normal;
  color:rgb(8, 8, 8)
}
.homebody{
  background-image: url("{% static 'images/home4.png' %}");
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<body style="background-image: linear-gradient( rgb(198, 201, 202),rgb(50, 147, 166));">
  <div class="homebody">
    <div class="header" id="myHeader">
        <a href="#default" class="logo">JobSnatch</a>
        <div class="header-right">
          <a class="active" href="#home">Home</a>
          <a href="#cat">Categories</a>
          <a href="#blo">Blog</a>
          <a href="#con">Contact</a>
          <a onclick="document.getElementById('id02').style.display='block'" style="width:auto; color:white">Candidate</a>
          <a onclick="document.getElementById('id03').style.display='block'" style="width:auto; color:white">Company</a>
          <a onclick="callFunction()" style="color:white">Log In</a>
        </div>
      </div>
      <script>
        window.onscroll = function() {myFunction()};
        
        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;
        
        function myFunction() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }
        </script>
      <div id="home"></div>
      <div class="homediv1" >
        <p class="homep1">Frustrated with your <br> job hiring?Let's try <br>JobSnatch</p>
        <p class="homep2">A platform that helps you to find your respective job and enrich <br> your future.Along with personal assist
        to guide you throughout <br> your journey.</p>
        <p style="margin-bottom: -2.5%">Supported by 4k+ companies </p>
        <p style="margin-left:-1%"><img align="middle" src="{% static 'images/meta.png' %}" width="80" height="100" hspace="10" ><img  align="middle" src="{% static 'images/google.png'%}" width="30" height="27" hspace="10" > <img align="middle" src="{% static 'images/linkedin.png'%}" width="90" height="90" hspace="10"> <img align="middle" src="{% static 'images/slack.png'%}" width="80" height="80" hspace="10" > </p>
      </div>
    </div>
    <div id="cat" class="homediv2">JOB CATEGORIES</div>
    
  <div id="container2" class="row">
    <div class="col-xs-12 col-sm-6 col-m-4 col-lg-3 col-xl-2 homediv4">
        <p class="homediv3"><img align="middle" src="{% static 'images/suitcase.png'%}" width="50" height="50" ></p>
        <p style="font-size: 17px; text-align:center; font-weight: bold;">Accounting and Finance</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-m-4 col-lg-3 col-xl-2 homediv5">
        <p class="homediv3"><img align="middle" src="{% static 'images/monitor.png'%}" width="50" height="50" ></p>
        <p style="font-size: 17px; text-align:center; font-weight: bold;">Programming and Tech</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-m-4 col-lg-3 col-xl-2 homediv6">
        <p class="homediv3"><img align="middle" src="{% static 'images/analytics.png'%}" width="50" height="50" ></p>
        <p style="font-size: 17px; text-align:center; font-weight: bold;">Data Science and Analytics</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-m-4 col-lg-3 col-xl-2 homediv7">
        <p class="homediv3"><img align="middle" src="{% static 'images/writing.png'%}" width="50" height="50" ></p>
        <p style="font-size: 17px; text-align:center; font-weight: bold;">Writing \ Translation  </p>
    </div>

</div>
<br><br><br>
<div id="container2" class="row">
    <div class="col-xs-12 col-sm-6 col-m-4 col-lg-3 col-xl-2 homediv8">
        <p class="homediv3"><img align="middle" src="{% static 'images/education.png'%}" width="50" height="50" ></p>
        <p style="font-size: 17px; text-align:center; font-weight: bold;">Education \ Training  </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-m-4 col-lg-3 col-xl-2 homediv9">
        <p class="homediv3"><img align="middle" src="{% static 'images/food.png'%}" width="50" height="50" ></p>
        <p style="font-size: 17px; text-align:center; font-weight: bold;">Restaurant \ Food Service  </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-m-4 col-lg-3 col-xl-2 homediv10">
        <p class="homediv3"><img align="middle" src="{% static 'images/editing.png'%}" width="50" height="50" ></p>
        <p style="font-size: 17px; text-align:center; font-weight: bold;">Design,Art and Multimedia  </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-m-4 col-lg-3 col-xl-2 homediv11">
        <p class="homediv3"><img align="middle" src="{% static 'images/speaker.png'%}" width="50" height="50" ></p>
        <p style="font-size: 17px; text-align:center; font-weight: bold;">Sales \ Markeing  </p>
    </div>

</div>
<br><br><br><br>
<div id="container3" class="row" style="background-color: rgba(255, 255, 255, 0.050);width:105%;">
  <div class="col-xs-2 col-sm-2 col-m-4 col-lg-2 col-xl-2 hiw">
     <h2 style="text-align:center;">How It Works?</h2>
  </div>
  <div class="col-xs-2 col-sm-3 col-m-4 col-lg-6 col-xl-12 hiw1">
    <p class="homediv3"><img align="middle" src="{% static 'images/user.png'%}" width="50" height="50" ></p>
    <p style="font-size: 20px; text-align:center; font-weight: bold;">Create an Account  </p>
    <p style="font-size: 15px; font-weight: bold;">Create a personal acoount by simply clicking the Sign Up and enter the specified details.</p>
</div>
<div class="col-xs-2 col-sm-2 col-m-4 col-lg-2 col-xl-2 hiw1">
  <p class="homediv3"><img align="middle" src="{% static 'images/search.png'%}" width="50" height="50" ></p>
  <p style="font-size: 20px; text-align:center; font-weight: bold;">Search Jobs </p>
  <p style="font-size: 15px; font-weight: bold;">Search for jobs as per your preference, capbilities and interest.</p>
</div>
<div class="col-xs-2 col-sm-2 col-m-4 col-lg-2 col-xl-2 hiw1">
  <p class="homediv3"><img align="middle" src="{% static 'images/apply.png'%}" width="50" height="45" ></p>
  <p style="font-size: 20px; text-align:center; font-weight: bold;">Apply </p>
  <p style="font-size: 15px; font-weight: bold;">Select apt job from the listings and apply for it and if needed enroll for the training sections.</p>
</div>
  </div>
<br><br><br>
  <div id="container3" class="row">
    <div class="col-xs-2 col-sm-2 col-m-4 col-lg-2 col-xl-2 hiw">
       <h2 id="blo">Blog Post</h2>
    </div>
    <div class="col-xs-2 col-sm-3 col-m-4 col-lg-6 col-xl-12 hiw2">
      <p class="blogpara"><img align="middle" src="{% static 'images/blog1.jpg'%}" width="100%" height="170" ></p>
      <p style="font-size: 17px; font-weight: bold;">Tips to write an impressive resume online for beginners.  </p>
      <p>Learn More >></p>
  </div>
  <div class="col-xs-2 col-sm-2 col-m-4 col-lg-2 col-xl-2 hiw2">
    <p class="blogpara"><img align="middle" src="{% static 'images/blog2.jpg'%}" width="100%" height="170" ></p>
    <p style="font-size: 17px; font-weight: bold;">Tips to help you clear apptitudes with ease </p>
    <p>Learn More >></p>
  </div>
  <div class="col-xs-2 col-sm-2 col-m-4 col-lg-2 col-xl-2 hiw2">
    <p class="blogpara"><img align="middle" src="{% static 'images/blog3.jpg'%}" width="100%" height="170" ></p>
    <p style="font-size: 17px; font-weight: bold;">How to convince recruiters <br> and get your deam job </p>
    <p>Learn More >></p>
  </div>
    </div>
    <!-- {% for i in post %}
    <p>{{i.name}}</p>
    {% endfor %} -->
    <!-- <script>
      window.onscroll = function() {headFunction()};
      
      var header1 = document.getElementById("myHeader");
      var sticky = header1.offsetTop;
      
      function headFunction() {
        if (window.pageYOffset > sticky) {
          header1.classList.add("sticky");
        } else {
          header1.classList.remove("sticky");
        }
      }
      </script> -->
      <div id="id01" class="modal">
  
        <form class="modal-content animate" action="login" method="post">
          {% csrf_token %}
          <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <button id="cand1" onclick="candFunction()" style="width:auto" class="candidatebtn" type="submit">Candidate</button>
            <button id="comp1" onclick="compFunction()" style="width:auto" class="companybtn" type="submit">Company</button>
          </div>
            <div class="container" id="cand">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="username" required>
        
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="password" required>
                
              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
              <div  style="background-color:#fefefe">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
              </div>
            </div>
            </form>
            <form class="modal-content animate" action="cologin" method="post">
              {% csrf_token %}
              <div class="container1" id="comp">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
          
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                  
                <button type="submit">Login</button>
                
                <div  style="background-color:#fefefe">
                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                  <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
              </div>
        </form>
        <div style="float:right; color:black"></div>
          {% for message in messages %}
          <h3>{{message}}</h3>
          {% endfor %}
         </div>
      
      <!-- <script>
        function candFunction() {
          document.getElementById('cand').style.display='block';
          document.getElementById('comp').style.display='none';
          document.getElementById('cand1').style.backgroundColor = "#000000";
          document.getElementById('comp1').style.backgroundColor = "rgb(8, 113, 10)";
        }
        function compFunction() {
          document.getElementById('comp').style.display='block';
          document.getElementById('cand').style.display='none';
          document.getElementById('comp1').style.backgroundColor = "#000000";
          document.getElementById('cand1').style.backgroundColor = "rgb(8, 113, 10)";
        }
        function callFunction() {
          document.getElementById('id01').style.display='block';
          document.getElementById('cand1').style.backgroundColor = "#000000";
        }
      
      </script> -->
      
<div id="id02" class="modal1">
  
  
  <form class="modal-content1 animate" action="register" method="POST" id="abcd">
    {% csrf_token %}
    <div class="container2">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>  
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      
      <hr>
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="name"><b>Type</b></label>
      <input type="text" placeholder="Enter Name" name="name" required>

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" required>

      <label for="pswd"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="p1" required>

      <label for="pswd"><b>Re-enter Password</b></label>
      <input type="password" placeholder="Re-enter Password" name="p2" required>
      <!-- <label for="ut"><b>User Type</b></label>
      <input type="text" placeholder="candidate" name="ut" required> -->
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      
      <!-- <label for="check"><b>Company</b></label>
      <div style="float:left"><input type="checkbox" id="myCheck" name="check"></div> -->
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn1">Cancel</button>
        <button type="submit" class="signupbtn" onclick="check()">Sign Up</button>
      </div>
    </div>
  </form>
  <!-- <script>
    function check() 
    {
      if (document.getElementById('myCheck').checked == true)
      {
         document.getElementById('abcd').action='cotbl';
      }
    }
  </script>
     -->
  <div style="float:right; color:black"></div>
          {% for message in messages %}
          <h3>{{message}}</h3>
          {% endfor %}
  </div>
</div>

<div id="id03" class="modal1">
  
  
  <form class="modal-content1 animate" action="cotbl" method="POST" id="abcd">
    {% csrf_token %}
    <div class="container2">
      <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>  
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      
      <hr>
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="name"><b>Type</b></label>
      <input type="text" placeholder="Enter Name" name="name" required>

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" required>

      <label for="pswd"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="p1" required>

      <label for="pswd"><b>Re-enter Password</b></label>
      <input type="password" placeholder="Re-enter Password" name="p2" required>
      <!-- <label for="ut"><b>User Type</b></label>
      <input type="text" placeholder="candidate" name="ut" required> -->
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      
      <!-- <label for="check"><b>Company</b></label>
      <div style="float:left"><input type="checkbox" id="myCheck" name="check"></div> -->
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn1">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
  <div style="float:right; color:black"></div>
  {% for message in messages %}
  <h3>{{message}}</h3>
  {% endfor %}
</div>
</div>
<!-- <script>
// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script> -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  <div id="con" class="body">
    <footer>
      <div class="row primary">
        <div class="column about">
      
        <h3>JobSnatch</h3>
      
         <p>
            Your perfect partner thet help your build your best carrier and therby enriching your future.
            The perfect guide that guides you along your way to success by helping to choose the the right job as per your preference.
        </p>
      
        <div class="social">
          <i class="fa-brands fa-facebook-square"></i>
          <i class="fa-brands fa-instagram-square"></i>
          <i class="fa-brands fa-twitter-square"></i>
          <i class="fa-brands fa-youtube-square"></i>
          <i class="fa-brands fa-whatsapp-square"></i>
        </div>
      </div>
      
      <div class="column links">
      <h3>Some Links</h3>
      
       <ul>
      
        <li>
         <a href="#faq">F.A.Q</a>
        </li>
        <li>
         <a href="#cookies-policy">Cookies Policy</a>
        </li>
        <li>
         <a href="#terms-of-services">Terms Of Service</a>
        </li>
        <li>
         <a href="#support">Support</a>
        </li>
       </ul>
      
      </div>
      
      
      <div class="column links">
        <h3>Some Links</h3>
         <ul>
          <li>
           <a href="#faq">F.A.Q</a>
          </li>
          <li>
           <a href="#cookies-policy">Cookies Policy</a>
          </li>
          <li>
          <a href="#terms-of-services">Terms Of Service</a>
          </li>
          <li>
          <a href="#support">Support</a>
          </li>
        </ul>
      </div>
      
      <div class="column subscribe">
       <h3>Newsletter</h3>
        <div>
         <input type="email" placeholder="Your email id here" />
         <button class="foobut">Subscribe</button>
        </div>
      
      </div>
      
      </div>
      
      <div class="row copyright">
        <div class="footer-menu">
      
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Contact</a>
        <a href="">Blog</a>
        <a href="">Social</a>
        <p style="float: right">Copyright &copy; 2022 JobSnatch</p>
        </div>
      </div>
      </footer>
    </div>
</body>
</html>
