<html>
{% extends 'base.html'%}
{% block content %}
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  </style>
<body style="background-image: linear-gradient(to right, rgba(22, 172, 213, 0.973),rgba(15, 184, 227, 0.598),rgba(15, 184, 227, 0.598), rgba(22, 172, 213, 0.973));background-repeat:no-repeat">
<h1 style="color: black; text-align:center">Hi {{user.username}}, The companies that accepted your requests are :</h1>
<!-- <form method="post">
  {% csrf_token %}
  
  <datalist id="data">
    {% for x in data %}
    <option value="{{ x.job_title}}"></option>
    {% endfor %}
  </datalist>
  

  <input type="text" name="number" placeholder="Filter by Post">
  <input type="submit" value="search">
</form> -->
{% for x in data %}
      {% if user.username in x.name %}
        {% if user.cat == x.cat1 %}
          <br>
          <!-- <div style="height: 27%; width:60%;background-color:rgba(234, 234, 234, 0.58);border-radius:10px;margin-left: 20%;"> -->
            <div style="height: 30%; width:60%;background-color:rgba(234, 234, 234, 0.58);border-radius:10px;margin-left: 20%;padding-top:2%;padding-left:2%;">
              <div class="d-flex justify-content-center align-items-center rounded" style="height: 110px;width:110px;">
                {% if x.image %}
                 <img src="{{x.images.url}}" alt="..."width=110px height="110px" style="margin-top: 3%;margin-left:3%;border-radius:10px;">
                {% endif %}
               </div>   
                <div style="padding: 10%; margin-left:10%;margin-top:-30%;width:40%;text-align:left;line-height:60%">
                  <h2 style="margin-top:17%">{{x.username}}</h2>
                  <h4>{{x.recruiter}} (<a href="#">{{x.emails}}</a>)</h4>
                  <!-- <h4>{{x.emails}}</h4> -->
                  <h4>{{ x.phones }}</h4>
                </div>
                <form method="post" action="comppage">
                  {% csrf_token %}
                    <div style="padding: 10%; margin-left:75%;margin-top:-30%;width:70%;">
                      <button  style="background-color: rgb(73, 198, 73); border-radius:7px;height:35px;width:80px;font-weight:bold;color:white;border:none" type="submit">View More</button>
                      <input type="text" name="cmpid" value="{{ x.jobs_id_id}}" hidden>
                    </div>
                </form>
          </div>
          <br>
        {% endif %} 
      {% endif %} 
{% endfor %}
<!-- <div style="background-color: rgba(234, 234, 234, 0.58);padding:2%;" >
  <div class="w3-third" style="margin-left: 22%;">

    <table>
        <tr>
          <th style="text-align: center;">COMPANY</th>
          <th style="text-align: center;">RECRUITER</th>
          <th style="text-align: center;">EMAIL</th>
          <th style="text-align: center;">PHONE</th>
          <th style="text-align: center;"></th>
        </tr>
        {% for x in data %}
          <tr>
            {% if user.username in x.name %}
                <form method="post" action="comppage">
                {% csrf_token %}
                <td style="text-align: center;">{{ x.username}}</td>
                <td style="text-align: center;">{{ x.recruiter}}</td>
                <td style="text-align: center;">{{ x.emails }}</td>
                <td style="text-align: center;">{{ x.phones }}</td>
                <td style="text-align: center;"><button  style="background-color: rgb(73, 198, 73); border-radius:7px;height:35px;width:80px;font-weight:bold;color:white;border:none" type="submit">View More</button></td>
                <td style="text-align: center;" hidden><input type="text" name="cmpid" value="{{ x.jobs_id_id}}"></td>
                </form>
            {% endif %}
          </tr>
        {% endfor %}
    </table>

</div>  
</div> -->
<br><br>
<!-- {% for x in data %}
    <div style="background-color: rgba(234, 234, 234, 0.58);">
        <div class="w3-third" style="margin-left: 5%;">
          <br>
          <form method="post" action="{% url 'applyjob'%}">
            {% csrf_token %}
            <P>Job_id  <input type="text" value="{{ x.job_id}}" name="idvalue" style="margin-left: 6%;"></P>
            <P>COMPANY <input type="text" value="{{ x.cmp_id}} "style="margin-left: 3.4%;"></P>
            <P>POST  <input type="text" value="{{ x.job_title}} "style="margin-left: 6.5%;"></P>
            <P>SALARY  <input type="text" value="{{ x.salary }}"style="margin-left: 5%;"></P>
            <P>EXPERIENCE  <input type="text" value="{{ x.experience }}"style="margin-left: 1.6%;"></P>
            <P>END-DATE  <input type="text" value="{{ x.lastdate }} "style="margin-left: 3.5%;"></P> 
            <p><button  style="background-color: rgb(73, 198, 73); border-radius:7px;height:35px;width:60px;font-weight:bold;color:white;border:none" type="submit">Apply</button></p><br>
          </form>
      </div>  
    </div><br>
{% endfor %} -->
{% endblock %}
<script>
  function a(){
    b=document.getElementById("b2");
    if(b.style.display==="block")
    {
      b.style.display="none";
    }
  }
</script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</body>
</html>