{% extends 'base2.html'%}
<html>
    {% block content %}
    <body>

        <div style="text-align: center;">
            <h1>Accounting and Finance</h1>
        </div>
        <div style="height: 50%;width:25%;float:right;background-color:#ffffffb5;margin-top:2%;margin-right:2%;border-radius:10px;border-top-right-radius: 50px;border-bottom-left-radius: 50px; padding-left:2%;line-height: 200%;">
          <h2>Wats On this Page</h2> 
           <ul type="square">
            <a href="#a" style="width:auto;color:rgb(8, 46, 89)"><li>Job options</li></a>
            <a href="#b" style="width:auto;color:rgb(8, 46, 89)"><li>Work experience</li></a>
            <a href="#c" style="width:auto;color:rgb(8, 46, 89)"><li>Typical employers</li></a>
            <a href="#d" style="width:auto;color:rgb(8, 46, 89)"><li>Skills for your CV</li></a>
            <a href="#e" style="width:auto;color:rgb(8, 46, 89)"><li>Further study</li></a>
            <a href="#f" style="width:auto;color:rgb(8, 46, 89)"><li>What do accounting and finance graduates do?</li></a>
           </ul>
        </div>
        <div id="a" style="height:310px;width: 70%; float:left;background-color:#0a0909dc;margin-top:2%;margin-left:2%;border-radius:5px;padding-left:7px;color:white">
            <h3>As well as providing a route into financial professions, a degree in accounting and finance develops skills that are useful in a range of sectors.</h3>
              <h2>Job options</h2>
                <h3>Jobs directly related to your degree include:</h3>
                <ul>
                    <li>Chartered accountant</li>
                    <li>Chartered certified accountant</li>
                    <li>Chartered management accountant</li>
                    <li>Chartered public finance accountant</li>
                    <li>Company secretary</li>
                    <li>External auditor</li>
                    <li>Forensic accountant</li>
                    
                </ul>
        </div>
        <div style="height:47%;width: 96%; float:left;background-color:#208bd2a0;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;">
                <h3>Jobs where your degree would be useful include:</h3>
                <ul>
                    <li>Actuary</li>
                    <li>Arbitrator</li>
                    <li>Business development manager</li>
                    <li>Data analyst</li>
                    <li>Economist</li>
                    <li>Licensed conveyancer</li>
                    <li>Management consultant</li>
                    <li>Mortgage adviser</li>
                    <li>Procurement manager</li>
                    <li>Retail banker</li>
                <li>Tax adviser</li>
                </ul>
                <h3>Remember that many employers accept applications from graduates with any degree subject, so don't restrict your thinking to the jobs listed here.</h3>
        </div>
        <div id="b" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#0a0909dc;color:white;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
           <h2 style="text-align:center;">Work experience</h2>
            <p style="text-align:justify;">Gaining some type of work experience is an important part of getting professional qualifications. An internship or work shadowing opportunity will show potential employers that you have the skills and practical experience they're looking for.

                If your course didn't include a work placement, look for a role in a field that interests you. This could include part-time work in a local accountancy firm or work experience in the finance department of any organisation. Experience that shows you have office and admin skills, as well as the ability to work with numbers and budgets, will be helpful.
                
                Search for placements and find out more about work experience and internships.</p> 
        </div>
        <div id="c" style="height:45%;width: 45%;line-height: 1.6; float:right;background-color:#0a0909dc;color:white;margin-top:1%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Typical employers</h2>
             <p style="text-align:justify;">
                There are plentiful job opportunities across the finance sector, some of the major employers are:
                <ul>
                <li>accountancy firms</li>
                <li>building societies</li>
                <li>high street banks</li>
                <li>insurance companies</li>
                <li>investment banks</li>
                <li>management consultancies</li>
                <li>public sector employers.</li>
               </ul> 
                The main graduate recruiters are the very large multinational accountancy firms. They use large-scale recruitment campaigns to attract the most promising graduates and have high minimum requirements. There are also opportunities in small to medium-sized enterprises (SMEs) that specialise in a particular type of work or local area.
                
                In the UK, a cluster of public sector jobs are available in central London with others available nationwide.
                
                Many businesses have finance departments, and you can find opportunities to use your finance and accounting skills within those across most sectors.</p> 
         </div>
         <div id="d" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#208bd2a0;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Skills for your CV</h2>
             <p style="text-align:justify;">Accounting and finance degrees provide you with specialist knowledge of accountancy practices, commerce, industry and finance.
         
                In addition to gaining this subject-specific and technical knowledge, you’ll also develop more general skills, including:
                <ul>
                <li>knowledge and awareness of business organisations</li>
                <li>numerical and quantitative skills</li>
                <li>problem-solving and analytical ability</li>
                <li>oral and written communication skills</li>
                <li>ability to argue your case and negotiate</li>
                </ul>
                knowledge of global business issues and language skills, particularly if you study European or international finance
                entrepreneurship.</p> 
         </div>
         <div id="e" style="height:45%;width: 45%;line-height: 1.6; float:right;background-color:#ffffffb5;margin-top:1%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Further study</h2>
             <p style="text-align:justify;">
                Accounting and finance graduates often go into posts that require further finance qualifications for progression.
                Popular choices include:
                <ul>
                <li>Association of Accounting Technicians (AAT) qualification</li>
                <li>Association of Chartered Certified Accountants (ACCA) qualification</li>
                <li>Chartered Financial Analyst (CFA)</li>
                <li>Chartered Institute of Management Accountants (CIMA) professional qualification</li>
                <li>Professional Banker Diploma</li>
               </ul> 
               As an accountancy graduate, you may have an exemption from some of these examinations, depending on the modules and credits you've achieved in your degree.
               Some postgraduate courses train you to work in a more specialised area of the financial industry, such as an MSc in actuarial science. It's also possible to study for a PhD in specific areas of finance, such as banking or trade statistics.</p> 
            </div>
            <div id="f" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#0a0909dc;color:white;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
                <h2 style="text-align:center;">What do accounting and finance graduates do?</h2>
                 <p style="text-align:justify;"> As an accountancy graduate, you may have an exemption from some of these examinations, depending on the modules and credits you've achieved in your degree.
                    Employed	-> 67.1<br>
                    Further study ->	5.2<br>
                    Working and studying ->	15.5<br>
                    Unemployed	-> 7<br>
                    Other	-> 5.2
                    <h4>Graduate destinations for accounting and finance:</h4>
                    Business, HR and finance	-> 53.5<br>
                    Clerical, secretarial and administrative	-> 26<br>
                    Retail, catering and customer service	-> 7.1<br>
                    Managers	-> 3.3<br>
                    Other	-> 10.1
                    </p> 
             </div>
             <div style="height:102px;width: 45%;line-height: 1.6; float:right;background-color:transparent;margin-top:1%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
                <h2 style="text-align:center;font-size:large">To Check our Job oppurtunities for you,<a href="{% url 'login' %}" style="width:auto;">Log in to our site :)</a></h2>
            </div>
    </body>
    {% endblock %}
</html>