<html>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 70%;
      margin-left: 15%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #ffffff;
    }
   </style>
{% extends 'base.html'%}
{% block content %}
    <body style="background-image: linear-gradient(to right, rgba(22, 172, 213, 0.973),rgba(15, 184, 227, 0.598),rgba(15, 184, 227, 0.598), rgba(22, 172, 213, 0.973));background-repeat:no-repeat">
    <h1 style="color: black; text-align:center">Hi {{user.username}}, The jobs that you applied for are :</h1>
  {% for y in data1 %}
    {% for x in data %}
      {% if x.lastdate == y.lastdate %}
        {% if user.username in x.name %}
          {% if user.cat == y.cat %}
        
              <br>
              <div style="height: 35%; width:60%;background-color:rgba(234, 234, 234, 0.58);border-radius:10px;margin-left: 20%;padding-left:2%;padding-top:2%;">
                <div class="d-flex justify-content-center align-items-center rounded" style="height: 110px;width:110px;">
                  {% if x.image %}
                   <img src="{{x.images.url}}" alt="..."width=110px height="110px" style="margin-top: 30%;margin-left:3%;border-radius:10px;">
                  {% endif %}
                 </div>
                    <div style="padding: 10%; margin-left:10%;margin-top:-30%;width:40%;text-align:left;line-height:60%">
                      <h2 style="margin-top:17%">{{x.username}}</h2>
                      <h4>{{x.recruiter}} (<a href="mailto:{{x.emails}}">{{x.emails}}</a>)</h4>
                      <!-- <h4>{{x.emails}}</h4> -->
                      <h4>Job Title : {{x.job_title}}</h4>
                      <h4>Last Date : {{x.lastdate}}</h4>
                      <h4>Location : {{x.loc}}</h4>
                      <h4>Destination : {{x.desti}}</h4>
                    </p>
                    </div>
                    <form method="post" action="comppages">
                      {% csrf_token %}
                        <div style="padding: 10%; margin-left:75%;margin-top:-27%;width:70%;">
                          <button  style="background-color: rgb(73, 198, 73); border-radius:7px;height:35px;width:80px;font-weight:bold;color:white;border:none" type="submit">View More</button>
                          <input type="text" name="cmpid" value="{{ x.cmp_id_id}}" hidden>
                          <input type="text" name="jobid" value="{{ x.jobs_id_id}}" hidden>
                        </div>
                    </form>
              </div>
              
              <br>
          {% endif %} 
      {% endif %} 
    {% endif %} 
  {% endfor %} 
{% endfor %}

      <!-- {% csrf_token %}
                              <table>
                                <tr>
                                  <th style="text-align: center;">COMPANY</th>
                                  <th style="text-align: center;">RECRUITER</th>
                                  <th style="text-align: center;">EMAIL</th>
                                  <th style="text-align: center;">POST</th>
                                  <th style="text-align: center;">END DATE</th>
                                  <th style="text-align: center;"></th>
                                </tr>
                                      {% for x in data %}
                                       <tr>
                                        {% if user.username in x.name %}
                                            <td style="text-align: center;">{{x.username}}</td>
                                            <td style="text-align: center;">{{x.recruiter}}</td>
                                            <td style="text-align: center;">{{x.emails}}</td>
                                            <td style="text-align: center;">{{x.job_title}}</td>
                                            <td style="text-align: center;">{{x.lastdate}}</td>
                                            <form method="post" action="comppages">
                                            {% csrf_token %}
                                            <td style="text-align: center;"> <button  style="background-color: rgb(73, 198, 73); border-radius:7px;height:35px;width:80px;font-weight:bold;color:white;border:none" type="submit">View More</button></td>
                                            <td style="text-align: center;" hidden><input type="text" name="cmpid" value="{{ x.cmp_id_id}}" hidden></td>
                                            <td style="text-align: center;" hidden><input type="text" name="jobid" value="{{ x.jobs_id_id}}" hidden></td>
                                            </form>
                                        {% endif %} 
                                        </tr>
                                      {% endfor %}
                                    </table> -->
{% endblock %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</body>
</html>
