{% extends 'base2.html'%}
{% load static %}
<html>
    {% block content %}
    <body style="background-image: url({% static 'images/appti.jpg' %});background-repeat: no-repeat;background-size:1270px 2000px;">

        <div style="text-align: center;">
        </div>
        <div style="width:95%;background-color:#ffffffcc;margin-top:1%;margin-left:2%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
            <p><center><h2>Tips to help you clear apptitudes with ease</h2></center>
                <b><br><h3>1. Practice Questions Online</h3>
                    Practicing is the only key that can help you get past the finishing line. Practice will make you familiar about format and time restrictions of the exam. This will make you clear about what the exam is.
                    Meritstore provides free course for Aptitude preparation with many questions to solve and practice. Check out here: Aptitude Section
                    <br><h3>2. Know the format of the test prior</h3>
                    Prior knowledge of the format of the test avoids the time wastage on practice of unwanted questions. This will avoid on time shock. However, some times you may not have any access to the test format. In such cases, remain calm, and prepare for general aptiude topics.
                    <br><h3>3. Focus on weakest areas</h3>
                    By following the above two, you will get to know about your weakest area. So, you can spend more time on practicing such areas and getting clarity on those.
                    <br><h3>4. Understand the differences between the tests</h3>
                    Each and every test have different objective. The differences show for what you are getting assessed. A pilot is assessed for his stress level when everything is out of control. A police man is assessed for his presence of mind to reach the criminal on or before time. So, understand the differences between the tests.
                    <br><h3>5. Find specific practice tests</h3>
                    Focus on specific thing. If you are preparing for a competitive exam, then practice tests of that level. If you are practicing for a single company, then focus on the practice tests of that view. This will avoid clumsy preparation.
                    <br><h3>6. Give a mock test</h3>
                    Try to create the environment of the real test whether it is online or offline. Assess yourself with the exact situation. This will showcase your stress and weakness on the spot. So, you can get a chance to get rid of these things.
                    <br><h3>7. Check what you can take in with you</h3>
                    In many occasions, the things which are accessible in the examination are more restricted. To avoid unwanted chaos, pre-check these things and take the things which are allowed to hold.
                    <br><h3>8. Boost your energy</h3>
                    Keep yourself more energetic before sitting for the exam. Don’t skip your food. If you are keen on listening to music, then do that. All these are just to make yourself feel enthusiastic. Don’t forget to be well hydrated on day of exam.
                    <br><h3>9. Manage your time carefully</h3>
                    In this competitive world, winning the race in less time is very much important. Most of the aptitude tests assesses your time management skill as one of the factors. Knowing everything asked in the test, but having no time to answer them is so worse. From the beginning, track your time.
                    <br><h3>10. Avoid Distractions</h3>
                    Many of the candidates get tensed when their contemporary is ahead of him. This shows your immaturity. Don’t take into account if someone near you finishes his test earlier. Completing your test on time is not a crime. Don’t look around you. It is an environment which is shared by ‘n’ number of persons like you. Will you be scared if the bus you are riding has many people? They are going for their work. You are going for yours.
                    <br><h3>11. If you get stuck, move on</h3>
                    If you are completely unaware of a question, don’t get panic. Just leave that question as it is and move on. Complete the questions which are known to you first. Then you will be relaxed that you are on the safe zone. At last, you will have time. At that time, go through those questions calmly.
                    <br><h3>12. Read all questions carefully</h3>
                    Abstract reading of any question may distract you in the wrong path. Being fast is necessary. But being patient is also necessary. Don’t skip words of your question. You may get an important clue there. 
                    <br><h3>13. Don’t be clumsy</h3>
                    Don’t wander the question paper. Though you know many concepts that are applicable, be precise in the question’s view. Work on what is necessary. Don’t waste your time on clumsy ideas.
                    <br><h3>14. Get feedback</h3>
                    With all these efforts, if you haven’t cleared the exam, don’t worry. It is okay to take some chances. But have a complete feedback on your failure. Don’t repeat the mistakes done earlier. You can also learn from the mistakes of others. Keeping all that in mind, and try to give your fullest effort next time.
                    <br>ALL THE BEST!
                    Keeping these tips and tricks, you can score better in any Aptitude Test</b></p>
        </div>
    </body>
    </body>
    {% endblock %}
</html>