<html>
{% extends 'base.html'%}
{% block content %}
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  </style>
<body style="background-image: linear-gradient(to right, rgba(22, 172, 213, 0.973),rgba(15, 184, 227, 0.598),rgba(15, 184, 227, 0.598), rgba(22, 172, 213, 0.973));background-repeat:no-repeat">
<h1 style="color: black; text-align:center">Hi {{user.username}}, The jobs available as per your preferecs are :</h1><br><br>
<div style="text-align: center;width:105%;margin-left:7%">
    <form method="post">
      {% csrf_token %}
      <!-- <input type="text" list="data" name="text" placeholder="Filter by Company Name"> -->
      <datalist id="data">
        {% for x in data %}
          <option value="{{ x.job_title}}"></option>
        {% endfor %}
      </datalist>
      <!-- <input type="submit" value="search"> -->

      <input type="text" name="number" placeholder="Filter by Post"  id="data" list="data" style="background-color: rgba(255, 255, 255, 0.58);border-radius:5px;border:none;text-align:center;">
      <input type="submit" value="search" style="background-color: rgba(10, 63, 87, 0.623);border-radius:5px;border:none;color:white;">
    </form>
    <div style="float: right;margin-top:-2.9%;margin-right:60%">
    <form method="post">
      {% csrf_token %}
      <!-- <input type="text" list="data" name="text" placeholder="Filter by Company Name"> -->
      <datalist id="data1">
        {% for x in data1 %}
          <option value="{{ x.username}}"></option> 
        {% endfor %}
      </datalist>
      <!-- <input type="submit" value="search"> -->

      <input type="text" name="compname" placeholder="Filter by Company"  id="data1" list="data1" style="background-color: rgba(255, 255, 255, 0.58);border-radius:5px;border:none;text-align:center;">
      
      <input type="submit" value="search" style="background-color: rgba(10, 63, 87, 0.623);border-radius:5px;border:none;color:white;">
    </form>
    </div>
    <div style="float: right;margin-top:-2.9%;margin-right:23%" >
      <form method="post">
        {% csrf_token %}
        <!-- <input type="text" list="data" name="text" placeholder="Filter by Company Name"> -->
        <datalist id="data6">
          {% for x in data6 %}
            <option value="{{ x.location}}"></option> 
          {% endfor %}
        </datalist>
        <!-- <input type="submit" value="search"> -->
  
        <input type="text" name="loc" placeholder="Filter by Location"  id="data6" list="data6" style="background-color: rgba(255, 255, 255, 0.58);border-radius:5px;border:none;text-align:center;">
        
        <input type="submit" value="search" style="background-color: rgba(10, 63, 87, 0.623);border-radius:5px;border:none;color:white;">
      </form>
      </div>
</div>

 {% for i in data3 %}
  {% if user.cat == i.cat %}
    <br>
    <div style="height:fit-content; width:60%;background-color:rgba(234, 234, 234, 0.58);border-radius:10px;margin-left: 20%;padding-top: 2%;padding-left: 2%;">
      <form method="post" action="comppage">
        {% csrf_token %}
         <div class="d-flex justify-content-center align-items-center rounded" style="height: 100px;width:100px;">
          {% if i.image %}
           <img src="{{i.image.url}}" alt="..."width=100px height="100px" style="margin-top: 40%;margin-left:3%;border-radius:10px;">
          {% endif %}
         </div>
          <div style="padding: 10%; margin-left:10%;margin-top:-30%;width:40%;text-align:left;">
            <h2 style="margin-top:15%">{{ i.username}}</h2>
           <h4>Job Title : {{ i.job_title}}</h4>
            <h4>Last Date : {{ i.lastdate }}</h4></p>
            <h4>Location : {{ i.loc }}</h4>
            <h4>Destination : {{ i.desti }}</h4></p>
          </div>
          <div style="padding: 10%; margin-left:75%;margin-top:-29%;width:70%;">
            <button  style="background-color: rgb(73, 198, 73); border-radius:7px;height:35px;width:80px;font-weight:bold;color:white;border:none" type="submit" id="try2">View More</button>
            <input type="text" name="cmpid" value="{{ i.job_id}}" hidden>
          </div>
      </form>
    </div>
    <br>
   {% endif %}
 {% endfor %}

<!-- <div style="background-color: rgba(234, 234, 234, 0.58);padding:2%;" >
  <div class="w3-third" style="margin-left: 22%;">
    <table>
        <tr>
          <th style="text-align: center;">COMPANY</th>
          <th style="text-align: center;">POST</th>
          <th style="text-align: center;">END DATE</th>
          <th style="text-align: center;"></th>
        </tr>
       
        {% for i in data3 %}
          
          <tr>
            <form method="post" action="comppage">
              {% csrf_token %}
                    
                      <td style="text-align: center;">{{ i.username}}</td>
                      <td style="text-align: center;">{{ i.job_title}}</td>
                      <td style="text-align: center;">{{ i.lastdate }}</td>
                  
                      <td style="text-align: center;"><button  style="background-color: rgb(73, 198, 73); border-radius:7px;height:35px;width:80px;font-weight:bold;color:white;border:none" type="submit">View More</button></td>
                      <td style="text-align: center;" hidden><input type="text" name="cmpid" value="{{ i.job_id}}"></td>        
            </form>
          </tr>
           
        {% endfor %}
    </table>

</div>  
</div> -->
<br><br>

{% endblock %}
<script>
  function a(){
    b=document.getElementById("b2");
    if(b.style.display==="block")
    {
      b.style.display="none";
    }
  }
</script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</body>
</html>