{% extends 'base2.html'%}
{% load static %}
<html>
    {% block content %}
    <body>

        <div style="text-align: center;">
        </div>
        <div style="width:70%;background-color:#ffffffcc;margin-top:1%;margin-left:15%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
            <p><center><h2>Tips to help you clear apptitudes with ease</h2></center>
                <center><img src="{% static 'images/appti1.jpg' %}" alt="" width="500px" height="400px"></center>
                <b><br><center><h2>1. How to get the job? </h2></center>
                    Did you know that India has topped the list of countries where people are working on their dream jobs?  
                    According to Reports, 44% of Indians admitted to having dream careers they wanted as a child. 
                    <center><img src="{% static 'images/appti2.jpg' %}" alt="" width="500px" height="400px"></center>
                    When you want to land a job, the hardest thing to do is to convince your recruiting manager that you are the right person for it. 
                    The stakes are at an all-time high for companies. With an increased demand for employment, fewer vacancies, and a limited hiring budget, they must make every job fulfilment count.
                    <br><h3>a. Make a good, lasting impression</h3>
                    Your first impression influences the way the recruiter perceives you. It gives them an idea of how customers and other business connections perceive you. 
                    Even before you enter an interview, your resumé and skill set will set the tone for you. Expertrons can help you with impeccable resumé building and skill enhancement.
                    <center><img src="{% static 'images/appti3.jpg' %}" alt="" width="500px" height="400px"></center>
                    Your job can be fulfilling and rewarding if you set your mind to it. Walk into that interview with a positive mindset. 
                    When you first interact with the recruiting manager, be clear and energetic. Then, talk about your best characteristics and express your achievements. It goes a long way.
                    So start thinking about how you can land your dream career and start applying for those interviews! If you want to seek more guidance, then we at Expertrons are at your disposal. 
                    <br><h3>b. Brush up your interview skills</h3>
                    Before meeting with the recruiter, review your portfolio, practise your interview skills and prepare for the questions they will ask. 
                    Learn everything you can about the establishment. Oversee the organisation’s website, its socials, Glassdoor, and LinkedIn. 
                    <center><img src="{% static 'images/appti4.jpg' %}" alt="" width="500px" height="400px"></center>
                    To ace the interview, we provide preparation for technical Q&As for aspirants to practise answers and put together an appropriate list of follow-up questions for the interviewer. 
                    They will perceive you as a responsible and dedicated job candidate if you are well prepared and enthusiastic.
                    <br><h3>c. Provide solid references</h3>
                    When asked, provide multiple solid references, including past mentors, employers, and others familiar with your experience and skills. 
                    Nothing reassures them more than a stellar recommendation from a reliable connection. 
                    Let your references know they might receive phone calls, and tell them how pivotal their inputs will be. 
                    <center><img src="{% static 'images/appti5.jpg' %}" alt="" width="500px" height="400px"></center>
                    Check us out – Expertrons offers candidates extensive soft & hard skill training, intensive interview preparation and access to a family of over 6000+ experts. 
                    Our programs also come with a 100% Job Guarantee*. Check it out for yourself. 
                    <br><center><h2>2. What is your dream job?</h2></center>
                    <br><h3>a. Before you do anything, explain your dream job:</h3>
                    <center><img src="{% static 'images/appti6.jpg' %}" alt="" width="500px" height="400px"></center>
                    Focus on specific thing. If you are preparing for a competitive exam, then practice tests of that level. If you are practicing for a single company, then focus on the practice tests of that view. This will avoid clumsy preparation.
                    <br><center><h2>3. Why should I select you?</h2></center>
                    <br><h3>a. Talk about how your values overlap with the company’s values:</h3>
                    While your skills are crucial to landing the dream career you want, your values also play a significant role in proving how the position fits into your goals in the long run. 
                    What are “values”? 
                    <center><img src="{% static 'images/appti7.jpg' %}" alt="" width="500px" height="400px"></center>
                    They can include work-life balance, vacation time, company culture, and salary. 
                    Did you know that 60% of Indians prefer to work in India rather than go abroad to pursue their dream job?
                    Having values that align with the establishment you would like to work for is great for entry-level jobs as recruiters look for candidates committed to staying long-term. 
                    Also read: Struggling to get a job? This might be the reason. <br>
                    <br>Key Takeaway: Convince your recruiter
                    Convincing the interviewer of your worth is key to landing your dream job! 
                    If the interviewer believes in you as a person and is impressed with your credentials, they will tend to recommend you for the job and even help you get better benefits. 
                    </b></p>
        </div>
    </body>
    </body>
    {% endblock %}
</html>