{% extends 'base2.html'%}
<html>
    {% block content %}
    <body>

        <div style="text-align: center;">
            <h1>Design,Art and Multimedia</h1>
        </div>
        <div style="height: 50%;width:25%;float:right;background-color:#0a0909dc;color:white;margin-top:2%;margin-right:2%;border-radius:10px;border-top-right-radius: 50px;border-bottom-left-radius: 50px; padding-left:2%;line-height: 260%;">
          <h2>Wats On this Page</h2> 
           <ul type="square">
            <a href="#a" style="width:auto;color:rgb(255, 255, 255)"><li>Job options</li></a>
            <a href="#b" style="width:auto;color:rgb(255, 255, 255)"><li>Work experience</li></a>
            <a href="#c" style="width:auto;color:rgb(255, 255, 255)"><li>Skills for your CV</li></a>
            <a href="#d" style="width:auto;color:rgb(255, 255, 255)"><li>Further study</li></a>
            <a href="#e" style="width:auto;color:rgb(255, 255, 255)"><li>What do graphic design graduates do?</li></a>
           </ul>
        </div>
        <div id="a" style="height:350px;width: 70%; float:left;background-color:#ffffffb5;margin-top:2%;margin-left:2%;border-radius:5px;padding-left:7px;">
            <h3>Whether you work for a consultancy or set up your own studio, a degree in graphic design opens the door to a range of creative and design-related careers</h3>
              <h2>Job options</h2>
                <h3>Jobs directly related to your degree include:</h3>
                <ul>
                    <li>Advertising art director</li>
                    <li>Animator</li>
                    <li>Artworker</li>
                    <li>Concept artist</li>
                    <li>Exhibition designer</li>
                    <li>Graphic designer</li>
                    <li>Illustrator</li>
                    <li>UX designer</li>
                    <li> Web designer</li>    
                </ul>
                <div style="height:55%;width: 72%; background-color:#0a0909dc;color:white;margin-top:1%;margin-left:-1%;border-radius:5px;padding-left:7px;">
                    <h3>Jobs where your degree would be useful include:</h3>
                   <ul>
                        <li>Creative director</li>
                        <li>Digital marketer</li>
                        <li>Fine artist</li>
                        <li>Game artist</li>
                        <li>Interior and spatial designer</li>
                        <li>Medical illustrator</li>
                        <li>Multimedia programmer</li>
                        <li>Multimedia specialist</li>
                   </ul> 
            </div>
                
        </div>
        <div id="b" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#ffffffb5;margin-top:17%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
           <h2 style="text-align:center;">Work experience</h2>
            <p style="text-align:justify;">Courses often provide the opportunity to work on projects with leading businesses and organisations. There may also be opportunities to take an optional work placement in industry either in the UK or abroad.
                Only a few graduates get jobs as a result of their final degree shows. Internships are a more common way of finding work and building up experience, making contacts and increasing your portfolio. The design world is small and design agencies will recommend interns who have impressed them, or contact them if there are suitable opportunities in the future.
                Participating in relevant competitions and exhibitions can help you to promote yourself and build up your network of contacts. You could also try and get some work experience, for example working for a film production company, television channel or even a magazine, or do some voluntary work on local projects.
                Search for placements and find out more about work experience and internships.
            </p> 
        </div>
        <div id="c" style="height:45%;width: 45%;line-height: 1.6; float:right;background-color:#208bd2a0;margin-top:1%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Skills for your CV</h2>
             <p style="text-align:justify;">
                A graphic design degree develops your understanding of effective graphic communication and enables you to build a good mix of subject-specific and technical skills, including:
                <ul>
                <li>branding</li>
                <li>coding</li>
                <li>computer software skills, e.g. Adobe graphic design software and web design skills</li>
                <li>digital media</li>
                <li>editorial design</li>
                <li>good organisational skills</li>
                <li>drawing and sketching</li>
                <li>information design</li>
                <li>interactive design</li>
                <li>moving image</li>
                <li>photography</li>
                <li>printmaking</li>
                <li>typography.</li>
               </ul> </p> 
         </div>
         <div id="d" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#0a0909dc;color:white;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Further study</h2>
             <p style="text-align:justify;">Studying for a Masters degree can help you develop in-depth knowledge of a specialist topic, for example typography or illustration. Alternatively, it can enable you to move into a related area such as multimedia, landscape architecture or interior design.
                Some Masters courses offer the opportunity to collaborate - either formally or informally - with other creatives, such as fine artists or film makers. Studying at postgraduate level also gives you time to enhance your portfolio and build a bigger network of contacts in the industry.
                Short, further education courses are another good option for learning new technical skills or honing existing ones.
                For more information on further study and to find a course that interests you, see Masters degrees and search for postgraduate courses in graphic design.</p> 
         </div>
         <div id="e" style="height:45%;width: 45%;line-height: 1.6; float:right;background-color:#ffffffb5;margin-top:-4%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">What do graphic design graduates do?</h2>
             <p style="text-align:justify;">
                Half (52%) of graphic design graduates are working as web and multimedia and design professionals 15 months after graduation.
                Employed	-> 82.4
                Further study	-> 2.5
                Working and studying	-> 6.1
                Unemployed	-> 5.2
                Other	-> 3.8
                <h4>Graduate destinations for graphic design</h4>
                Arts, design and media	-> 57.2
                Retail, catering and customer service	-> 12
                Marketing, PR and sales	-> 9.3
                Clerical, secretarial and administrative	-> 4.5
                Other	-> 17
               </p>
            </div>
             <div style="height:60px;width: 45%;line-height: 1.6; float:right;background-color:#208bd2a0;margin-top:1%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
                <h3 style="text-align:center;">To Check our Job oppurtunities for you,<a href="{% url 'login' %}" style="width:auto;">Log in to our site :)</a></h3>
            </div>
    </body>
    {% endblock %}
</html>