{% extends 'base2.html'%}
<html>
    {% block content %}
    <body>

        <div style="text-align: center;">
            <h1>Education / Training</h1>
        </div>
        <div style="height: 70%;width:25%;float:right;background-color:#208bd2a0;margin-top:2%;margin-right:2%;border-radius:10px;border-top-right-radius: 50px;border-bottom-left-radius: 50px; padding-left:2%;line-height: 350%;">
          <h2>Wats On this Page</h2> 
           <ul type="square">
            <a href="#a" style="width:auto;color:rgb(8, 46, 89)"><li>Job options</li></a>
            <a href="#b" style="width:auto;color:rgb(8, 46, 89)"><li>Work experience</li></a>
            <a href="#c" style="width:auto;color:rgb(8, 46, 89)"><li>Typical employers</li></a>
            <a href="#d" style="width:auto;color:rgb(8, 46, 89)"><li>Skills for your CV</li></a>
            <a href="#e" style="width:auto;color:rgb(8, 46, 89)"><li>Further study</li></a>
            <a href="#f" style="width:auto;color:rgb(8, 46, 89)"><li>What do education graduates do?</li></a>
           </ul>
        </div>
        <div id="a" style="height:450px;width: 70%; float:left;background-color:#0a0909dc;color:white;margin-top:2%;margin-left:2%;border-radius:5px;padding-left:7px;">
            <h3>Studying a degree in education directly prepares you for a range of careers working with children and young people</h3>
              <h2>Job options</h2>
                <h3>Jobs directly related to your degree include:</h3>
                <ul>
                    <li>Community education officer</li>
                    <li>Early years teacher</li>
                    <li>Education administrator</li>
                    <li>Education consultant</li>
                    <li>Education mental health practitioner</li>
                    <li>English as a foreign language teacher</li>
                    <li>Further education teacher</li>
                    <li>Learning mentor</li>
                    <li>Primary school teacher</li>
                    <li>Secondary school teacher</li>
                    <li>Special educational needs coordinator (SENCO)</li>       
                    <li>Special educational needs teacher</li>       
                    <li>Teaching assistant</li>       
                </ul>
        </div>
        <div style="height:47%;width: 96%; float:left;background-color:#ffffffb5;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;">
            <h3>Jobs where your degree would be useful:</h3>
            <ul>
                <li>Careers adviser</li>
                <li>Child psychotherapist</li>
                <li>Counsellor</li>
                <li>Family support worker</li>
                <li>Health play specialist</li>
                <li>Museum education officer</li>
                <li>Play therapist</li>
                <li>Private tutor</li>
                <li>Youth worker</li>
            </ul>
            <h3>Remember that many employers accept applications from graduates with any degree subject, so don't restrict your thinking to the jobs listed here.</h3>
    </div>
        <div id="b" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#0a0909dc;color:white;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
           <h2 style="text-align:center;">Work experience</h2>
            <p style="text-align:justify;">If you want to do a PGCE or equivalent postgraduate qualification, you'll need to have experience of working with children, preferably in a school environment. This will show that you understand the role and are committed to a teaching career.
                Contact schools directly to ask for work experience or to observe classes or shadow teachers.
                Find out more about volunteering in schools.
                Volunteering to help out at a local education, sports, community or youth centre is also a good way to gain some experience of working with children and organising group activities. It may also help you increase your knowledge of educational issues.
                If you decide to move away from a career in education, think about what areas of work interest you and carry out research into relevant roles and sectors. Use tools such as Job Match to help you decide what type of career you'd be suited to.
                Look out for work placements and voluntary opportunities advertised via your university career service, on company websites and through the specialist press. Use these opportunities to discover whether you suit the work and to build up a network of contacts. Work shadowing is another useful way of finding out about a particular career.
                Search for placements and find out more about work experience and internships.
            </p> 
        </div>
        <div id="c" style="height:45%;width: 45%;line-height: 1.6; float:right;background-color:#208bd2a0;margin-top:1%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Typical employers</h2>
             <p style="text-align:justify;">
                If you're working in a state-maintained school, your employer will often be your local authority. However, you may be employed directly by the school - if for example, you work for an academy, free school or independent school. 
                You'll also be employed directly by the institution if you work for a college. Discover how to get a teaching job.
                Other employers include:
                <ul>
                <li> central government departments</li>
                <li>community and voluntary organisations</li>
                <li>museums</li>
                <li>the police and probation services</li>
                <li>social services</li>
                <li>universities.</li>
               </ul> 
               There are opportunities with both public and private sector employers in a range of careers such as HR, market and policy research, retail management, publishing, education psychology and careers guidance. 
               Find out more about jobs in education.
               Find information on employers in teacher training and education, charity and voluntary work and other job sectors.</p> 
         </div>
         <div id="d" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#ffffffb5;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Skills for your CV</h2>
             <p style="text-align:justify;">Studying education develops specific skills relating to a range of educational topics. These include theories of learning, equality and diversity, education policy and practice, and creativity and education.
                Your degree will also provide you with a good general understanding of education in social, political and economic contexts. Some courses include work placement modules, providing the opportunity to put theory into practice.
                You'll also gain the following transferable skills, which are useful to employers in a variety of job sectors:
                <ul>
                    <li>excellent communication skills - essential for effectively presenting information to learners</li>
                    <li>IT skills - needed for researching teaching resources and preparing materials and for communication within the education setting and with external contacts</li>
                    <li>research and analytical skills</li>
                    <li>interpersonal skills - working collaboratively as part of a team</li>
                    <li>effective problem-solving skills</li>
                    <li>organisation and time-management skills - essential for managing a teaching workload and getting planning and marking done on time</li>
                    <li>self-management - helping you to work effectively and reflect on your personal practice and make improvements.</li>
                   </ul> 
                </p> 
         </div>
         <div id="e" style="height:45%;width: 45%;line-height: 1.6; float:right;background-color:#0a0909dc;color:white;margin-top:1%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Further study</h2>
             <p style="text-align:justify;">
                Achieving Qualified Teacher Status (QTS) through completion of the PGCE (PGDE in Scotland) or equivalent postgraduate qualification is a popular route for education graduates.
                Alternatively, you may wish to take a Masters course in education or a related social science in order to develop your understanding of the theory, research and policy of education and to enhance your professional knowledge, 
                skills and practice. Some education graduates go on to study for a PhD in education. Another option is the Masters in TESOL (Teaching English to Speakers of Other Languages).
                Find out more information about routes into teaching and about options for further study by searching for postgraduate courses in education.
               </p>
            </div>
            <div id="f" style="height:45%;width: 46%;line-height: 1.6; float:right;background-color:#208bd2a0;margin-top:1%;margin-right:1%;border-radius:5px;padding-left:7px;padding-right:7px;">
                <h2 style="text-align:center;">What do education graduates do?</h2>
                 <p style="text-align:justify;">54% of education graduates are working as teaching professionals (30%), as teaching and childcare associate professionals (8%), 
                    or in teaching and childcare support occupations (17%). 3% are working as other educational professionals.
                    Employed	-> 67.1
                    Further study	-> 9.6
                    Working and studying	-> 9.1
                    Unemployed	-> 6.5
                    Other	-> 7.7
                    <h4>Graduate destinations for education</h4>
                    Education	-> 45.6
                    Childcare, health and education	-> 25.1
                    Retail, catering and customer service	-> 8.4
                    Legal, social and welfare	-> 8.1
                    Other	-> 12.8
                </p> 
             </div>
             <div style="height:102px;width: 50%;line-height: 1.6; float:left;background-color:#0a0909dc;color:white;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
                <h2 style="text-align:center;">To Check our Job oppurtunities for you,<a href="{% url 'login' %}" style="width:auto;">Log in to our site :)</a></h2><br>
            </div>
    </body>
    {% endblock %}
</html>