<html>

{% load static %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style> 
    body{
        background-image: url("{% static 'images/gd.jpg' %}");
        background-size:45%;
        background-repeat:no-repeat;
      }
      .div1{
        height: fit-content;
        width: 50%;
        text-align:center;
        background-color:rgba(255, 255, 255, 0.928);
        margin-top:5%;
        margin-left:25%;
        border-radius:10px;
        
        font-size: large;
        
      }
</style>
<body>
    <!-- <h1 style="color: black; text-align:center">Hi {{user.username}}, The companies that accepted your requests are :</h1> -->
    <br>
    <div style="height: 38%;width:42%;float:left;background-image: linear-gradient(to right, rgb(0, 0, 0),rgba(104, 101, 101, 0.395));margin-top:26%;margin-left:2%;border-radius:10px;border-top-right-radius: 50px;border-bottom-left-radius: 50px;">
        <a href="https://youtu.be/3w32jIsRlsw"><img src="{% static 'images/gd1.jpg' %}"  style="margin-left:7%;margin-top:0.1%;border-radius:5px;" width="459" height="226"></a>
    </div>
    
    <div style="width:50%;text-align: justify;margin-left:47%;color:black;">
           <div>
            <h1 style="font-weight: bolder;color:#293f6f">MASTERING GDs</h1>
            <h2 style="font-weight: bold;">Group Discussion Strategies</h2>
            <h4>Group Discussion helps understand a subject more deeply and improves the ability to think critically.</h4>
            <h5>Rating: 4.2 out of 5 (338 ratings) over 8,760 students</h5>
           </div>
           <div style="border:1px solid rgba(0, 0, 0, 0.55);padding:2%;box-shadow: 5px 10px #dbdbdb;border-radius:5px;">
              <h3 style="font-weight: bold;">What you'll learn</h3>
              <ul type="square">
                    <li>Understand What is a Group Discussion</li> 
                    <li>Learn the Various Types of Group Discussion</li>
                    <li>Learn How to Prepare for Group Discussion</li>
                    <li>FAQs on Group Discussion</li>
                    <li>Know the Importance of Group Discussion</li>
                    <li>Do’s & Don’ts of Group Discussion</li>
                    <li>Learn the Process & Evaluation Criteria for Group Discussion</li>
              </ul>
           </div>
            <p><h3>This course includes:</h3>
                <ul type="square">
                    <li>31 mins on-demand video</li> 
                    <li>1 article</li>
                    <li>1 downloadable resource</li>
                    <li>Full lifetime access</li>
                    <li>Access on mobile and TV</li>
                    <li>Certificate of completion</li>
                </ul></p>
                <div  style="width:42%;position: absolute;left:0;top:99%;margin-left:2%;"><p style="font-weight: bold;float:left;">
                  <h3>Description</h3>
                 <p>Group Discussion helps understand a subject more deeply and improves the ability to think critically. Its is an important part of the short-listing process for admission to B-Schools. By the end of the course you will be able to: Understand What is a Group Discussion, Know the Importance of Group Discussion, Explain Various Types of Group Discussion, Explain the Process and Evaluation Criteria of Group Discussion, Learn How to Prepare for Group Discussion, 
                  The Do’s & Don’ts of Group Discussion and FAQs on Group Discussion.</p>
                    
                </div>
                <div style="width:98%;top:127%;margin-left:2%;">
                  <h3>Who this course is for:</h3>
                    <p>This course is good for management learners and students who want to learn about Group Discussion Strategies.</p>
                    <h3>Requirements</h3>
                    <h5>No prior knowledge is necessary.</h5>
                  </div>
                  <div style="background-color:hsl(0, 0%, 100%);width:50%;border-radius:5px;border:solid 1px rgb(56, 54, 54);box-shadow: 5px 5px #888888;text-align:center;float:right;margin-top:-50%;">
                    <h3><b>JobSnatch Featured</b></h3>
                     <button style=" height:60px;width:100%;background-color:rgb(0, 0, 0) ;border-color:rgb(10, 62, 87);color:white;font-size: large;"><b> Rs.200/- </b></button><br><br>
                     <button type="button" data-toggle="modal" data-target="#myModal" style=" height:fit-content;width:100%;background-color:transparent;border-color:rgb(177, 177, 177);padding:2%;"><b> Enroll Now </b></button><br>
                      


                  </div>
                    <form action="{% url 'train' %}" method="post">
                        {% csrf_token %}
                        <!-- <input type="text" value="GD" name="gd" hidden> -->
                        
<div class="container">
    
    <!-- Trigger the modal with a button -->
  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content" style="background:rgba(4, 4, 4, 0.742);">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="color: white;text-align:center">Confrim your time and date :)</h4>
          </div>
          <div class="modal-body">
            <div class="div1">
                    <form action="{% url 'train' %}" method="post" onsubmit="cli()"> 
                      {% csrf_token %}
                      <br><br>
                      <label for="uname">Name : </label>
                      <input type="text" value="{{user.username}}" name="uname" style="border-radius:7px;margin-left:6%; border:none;text-align:center;width:fit-content;" disabled><br><br>
                      <label for="ititle">Type : </label>
                      <input type="text"  name="type" value="GD" style="border-radius:7px;margin-left:6%;border:none;text-align:center;width:fit-content;" disabled><br><br>
                      <label for="pday">Day : </label>
                      <input type="date" placeholder="Prefered day" name="pday" style="border-radius:7px;margin-left:6%;border:none;text-align:center;" required>
                      <br><br>
                      <label for="ptime" style="margin-left:-14%;">Time :  </label>
                      <select name="ptime" id="interntime"  style="border-radius:7px;margin-left:2%;border:none;text-align:center;" placeholder="Choose Time" required>
                        <option value="9:00 AM">9:00 AM</option>
                        <option value="11:00 AM">11:00 AM</option>
                        <option value="2:00 PM">2:00 PM</option>
                        <option value="4:00 PM">4:00 PM</option>
                        <option value="7:00 PM">7:00 PM</option>
                      </select><br><br>
                      <input type="number" value={{user.id}} name="caid" hidden>
                      <button type="submit" style="border:none;background: rgb(8, 8, 8);height:fit-content;width:100%;font-weight:bold;color:white;font-size:medium;">Go to payment</button><br><br>
                    </form>
                  </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  
                        <!-- <button type="submit" style=" height:35px;width: 23%;background-color:rgb(10, 62, 87) ;border-color:rgb(10, 62, 87);border-radius:5px;color:white">Apply Now</button> -->
                    </form>
                
            
</div>

</body>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</html>