<html>
{% extends 'base.html'%}
{% load static %}
{% block content %}
<style> 
  body{
        background-image: url("{% static 'images/interviuew.jpg' %}");
        background-repeat:no-repeat;
      }
    
</style>
<body>
    <!-- <h1 style="color: black; text-align:center">Hi {{user.username}}, The companies that accepted your requests are :</h1> -->
   <div style="height: 38%;width:32%;float:left;background-color:rgba(108, 188, 200, 0.623);margin-top:25%;margin-left:0.5%;border-radius:10px;border-top-right-radius: 50px;border-bottom-left-radius: 50px;"></div>
    <div style="width:60%;text-align: justify;margin-left:34%;color:black;box-shadow: 10px 10px 5px lightblue;border-radius:10px;padding-right:20px;margin-bottom:2%">
   
        <h1 style="font-weight: bolder;color:#293f6f">ACING INTERVIEWS</h1>
            <p  style="font-weight: bold;">We believe that Practice makes a man and woman perfect and removes fear of failure, so by practice fear is gone and students start becoming confident. The same is applied to prepare our students for facing one of the toughest rounds of any company’s selection process.
                 Objective of this training is to build self-confidence by repeatedly appearing in mock interviews conducted business heads, mentors and trainers.</p>

            <p style="font-weight: bold;">To give students exposure to what kind of questions can be asked and how to conduct at the time of interviews, PIBM Students undergoes 100+ Mock Interviews where they not only face internal Trainers and Mentors, but also gets interviewed by the Corporate Heads themselves who visits campus for Final Placements.

                Outcome of this Interview training is:
            <ul type=".">
                   <li>The feedbacks are given to each student after every mock interview, so they can improve and finally clear the Interview rounds of companies</li> 
                   <li>Gives clarity to students where are the gaps and how much effort is required in reality to clear the placement processes</li>
                   <li> Gives much needed exposure to the Job Profile specific sets of questions and what answers are actually expected out of them by Corporate Heads</li>
                   
            </ul></p>
            <p style="font-weight: bold;">During the course, Students undergoes 100+ Interviews Rounds which not only check their continuous growth but also gives them regular feedback on the key improvement areas.
            We monitor our students on an individual basis and measure their performance thereby imparting specialized training as per the requirements of students as well as the companies.
            Our aptitude training program is highly interactive and is designed to give students the much needed edge in positioning themselves ahead of the curve in today's highly competitive world.</p>
   
</div>
</body>
{% endblock %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</html>