<html>

{% load static %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style> 
  body{
        background-image: url("{% static 'images/interviuew.jpg' %}");
        background-repeat:no-repeat;
      }
  .div1{
        height: fit-content;
        width: 50%;
        text-align:center;
        background-color:rgba(255, 255, 255, 0.606);
        margin-top:5%;
        margin-left:25%;
        border-radius:10px;
        padding:6px;
        font-size: large;
        
      }
    
</style>
<body style="overflow-x: hidden;">
  <div style="width:100%;">
    <!-- <h1 style="color: black; text-align:center">Hi {{user.username}}, The companies that accepted your requests are :</h1> -->
   <div style="height: 36%;width:32%;float:left;background-color:rgba(108, 188, 200, 0.623);margin-top:27%;margin-left:0.5%;border-radius:10px;border-top-right-radius: 50px;border-bottom-left-radius: 50px;">
    <div style="width:42%;position: absolute;left:0;top:65%;margin-left:2%;"> 
      <h3 style="margin-left: 5%;"><b>JobSnatch Featured</b></h3>
      <button style=" height:60px;width:60%;border-radius:5px;background-color:rgb(0, 0, 0) ;margin-left:4.5%;border-color:rgb(10, 62, 87);color:white;font-size: large;"><b> Rs.200/- </b></button><br><br>
      <button type="button" data-toggle="modal" data-target="#myModal" style=" height:fit-content;margin-left:4.5%;border-radius:5px;width:60%;background-color:transparent;border-color:rgb(177, 177, 177);padding:2%;"><b> Enroll Now </b></button>
        <form action="{% url 'train' %}" method="post">
            {% csrf_token %}
            <!-- <input type="text" value="GD" name="gd" hidden> -->
            
<div class="container">

<!-- Trigger the modal with a button -->
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style=" height:35px;width: 30%;background-color:rgb(10, 62, 87) ;border-color:rgb(10, 62, 87);border-radius:5px;color:white;margin-left:1%;">Apply Now</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content" style="background:rgba(4, 4, 4, 0.742);">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title" style="color: white;text-align:center">Confrim your time and date :)</h4>
</div>
<div class="modal-body">
<div class="div1">
        <form action="{% url 'train' %}" method="post" onsubmit="cli()"> 
          {% csrf_token %}
          <label for="uname">Name : </label>
          <input type="text" value="{{user.username}}" name="uname" style="border-radius:7px;margin-left:6%; border:none;text-align:center;width:fit-content;" disabled><br><br>
          <label for="ititle">Type : </label>
          <input type="text"  name="type" value="Interview" style="border-radius:7px;margin-left:6%;border:none;text-align:center;width:fit-content;" disabled><br><br>
          <label for="pday">Day : </label>
          <input type="date" placeholder="Prefered day" name="pday" style="border-radius:7px;margin-left:6%;border:none;text-align:center;" required>
          <br><br>
          <label for="ptime" style="margin-left:-14%;">Time :  </label>
          <select name="ptime" id="interntime"  style="border-radius:7px;margin-left:2%;border:none;text-align:center;" placeholder="Choose Time" required>
            <option value="9:00 AM">9:00 AM</option>
            <option value="11:00 AM">11:00 AM</option>
            <option value="2:00 PM">2:00 PM</option>
            <option value="4:00 PM">4:00 PM</option>
            <option value="7:00 PM">7:00 PM</option>
          </select><br><br>
          <input type="number" value={{user.id}} name="caid" hidden>
          <button type="submit" style="border:none;background: rgb(8, 8, 8);height:fit-content;width:100%;font-weight:bold;color:white;font-size:medium;">Confrim</button>
        </form>
      </div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>

</div>
</div>

</div>
        </form></div>
   </div>
    <div style="width:60%;height:fit-content;text-align: justify;margin-left:34%;color:black;box-shadow: 10px 10px 5px lightblue;border-radius:10px;padding-right:20px;margin-bottom:2%">
   
        <h1 style="font-weight: bolder;color:#293f6f">ACING INTERVIEWS</h1>
            <h2><b>Job Interview Skills Training Course</b></h2>
            <h4>Land that dream job by dazzling during your interview</h4>
            <h6>(14,957 ratings) 190,582 students 1hr 34min of on-demand video</h6>
           <div style="border:1px solid rgba(0, 0, 0, 0.55);padding:2%;box-shadow: 10px 10px 5px lightblue;border-radius:5px;">
              <h4>What you will learn</h4>
              <ul type=".">
                    <li>Video Lessons</li> 
                    <li>Learn what to do before you have an interview scheduled</li>
                    <li>Learn how to answer the 15 most important interview questions</li>
                    <li>Learn how to follow-up after an interview</li>
                    <li>Dress to impress</li>
                    <li>Much More!</li>
              </ul>
           </div>
           <br>
           <!-- <h4>Procedure :</h4>
           <ul type="square">
            <li>Personal Assistance</li>
            <li>2-5 day training</li>
            <li>Daily Tests</li>
            <li>Further Helps</li>
           </ul> -->
           <p><h3>This course includes:</h3>
            <ul type="square">
                <li>31 mins on-demand video</li> 
                <li>1 article</li>
                <li>1 downloadable resource</li>
                <li>Full lifetime access</li>
                <li>Access on mobile and TV</li>
                <li>Certificate of completion</li>
            </ul></p>
   
 </div>
</div>
</body>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</html>