{% extends 'base4.html'%}
{% load static %}

<html>
{% block content %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type='text/javascript' src='/JavaScriptSpellCheck/include.js' ></script>
<style>
* {
  box-sizing: border-box;
}

.a {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 60%;
  font-size: large;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.352);
  padding: 20px;
  margin-top: 2%;
  margin-left: 2%;
  width: 95%;
  height:fit-content;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit],.container {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
}




body {font-family:Arial}

.tags-input-wrapper{
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  max-width: 400px;
  border: 1px solid #fffbfb
}
.tags-input-wrapper input{
  border: none;
  background: transparent;
  outline: none;
  width: 140px;
  margin-left: 8px;
}
.tags-input-wrapper .tag{
  display: inline-block;
  background-color: #f5f8f6;
  color: rgb(4, 4, 4);
  border-radius: 40px;
  padding: 0px 3px 0px 7px;
  margin-right: 5px;
  margin-bottom:5px;
  box-shadow: 0 5px 15px -2px rgba(211, 207, 207, 0.854);
  border: 1px solid #3f8be2;
}
.tags-input-wrapper .tag a {
  margin: 0 7px 3px;
  display: inline-block;
  cursor: pointer;
}
</style>
</head>
<body style="background-image: linear-gradient(to right, rgba(22, 172, 213, 0.973),rgba(15, 184, 227, 0.598),rgba(15, 184, 227, 0.598), rgba(22, 172, 213, 0.973));">
    
  {% if user.approved is True %}
    <!-- <h1 style="text-align:center;font-family: 'Franklin Gothic Medium', Arial Narrow, 'Arial', sans-serif;font-weight: bolder; margin-top: 5%;"> Post Jobs </h1> -->
    
  <div class="container" style="width: 70%;float:right;margin-top:4%;margin-right:7%;">
   <form action="{% url 'postjob'%}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <label for="title">Job Title</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="title" placeholder="Title" style="border-radius:7px;border:none;text-align:center;" class="a" required>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="salary">Salary in Rupees</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="salary" style="border-radius:7px;border:none;text-align:center;height:25px;" maxlength="6" minlength="4"  onkeypress="return /[0-9]/i.test(event.key)" class="a" required>
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="experience">Experience</label>
        </div>
        <div class="col-75">
          <input type="text" id="exp" class="a" name="experience" placeholder="Least - most" style="border-radius:7px;border:none;text-align:center;height:25px;"onkeypress="return /[0-9,-]/i.test(event.key)"  maxlength="3" minlength="1" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="experiencein">Experience in</label>
        </div>
        <div class="col-75">
          <select name="experiencein" class="a" style="border-radius:7px;border:none;text-align:center;" required>
            <option value="Yr">Yr</option>
            <option value="Mon">Mon</option>
           
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="date">Start Date</label>
        </div>
        <div class="col-75">
          <input type="date" id="txtStartDate" name="sdate" style="border-radius:7px;text-align:center;" onmouseleave="TDate()" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="date">Last Date</label>
        </div>
        <div class="col-75">
          <input type="date" id="txtEndDate" name="date" style="border-radius:7px;text-align:center;" onmouseleave="DateCheck()" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="desti">Destination</label>
        </div>
        <div class="col-75">
          <select name="desti" class="a" style="border-radius:7px;border:none;text-align:center;" required>
            <option value="Abroad">Abroad</option>
            <option value="Within">Within</option>
            <option value="Depends">Depends</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="expl">Exact Place</label>
        </div>
        <div class="col-75">
        <input type="text" id="fname" name="expl" class="a" style="border-radius:7px;border:none;text-align:center;" required>
        </div>
      </div>
    <div class="row">
      <div class="col-25">
        <label for="vacancies">No.of vacancies</label>
      </div>
      <div class="col-75">
        <input type="text" id="va" name="vacancies" class="a" style="border-radius:7px;border:none;text-align:center;height:25px;" onkeypress="return /[0-9]/i.test(event.key)"  maxlength="3" minlength="1" required>
      </div>
      
    </div> 
    <div class="row">
      <div class="col-25">
        <label for="desc">Job Description</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="desc" class="a" placeholder="Write something.." style="height:190px ;border-radius:7px;border:none;" required></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="jtype">Job Type</label>
      </div>
      <div class="col-75">
        <select name="jtype" class="a" style="border-radius:7px;border:none;text-align:center;" required>
          <option value="Part-Time">Part-Time</option>
          <option value="Full-Time">Full-Time</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="quali">Qualification</label>
      </div>
      <div class="col-75">
        <script type='text/javascript'>$Spelling.SpellCheckAsYouType('quali')</script>
        <input type="text" rows="5" name="quali" id="tag-input1" oninput="$Spelling.SpellCheckInWindow('quali')">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-25">
        <label for="tenth">10th percentage required </label>
      </div>
      <div class="col-75">
        <select name="tenth" class="a" style="border-radius:7px;border:none;text-align:center;" required>
          <option value="min 50">min 50</option>
          <option value="min 60">min 60</option>
          <option value="min 70">min 70</option>
          <option value="min 80">min 80</option>
          <option value="min 90">min 90</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="pltwo">+2 percentage required </label>
      </div>
      <div class="col-75">
        <select name="pltwo" class="a" style="border-radius:7px;border:none;text-align:center;" required>
          <option value="min 50">min 50</option>
          <option value="min 60">min 60</option>
          <option value="min 70">min 70</option>
          <option value="min 80">min 80</option>
          <option value="min 90">min 90</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="crse">Course percentage required </label>
      </div>
      <div class="col-75">
        <select name="crse" class="a" style="border-radius:7px;border:none;text-align:center;" required>
          <option value="min 50">min 50</option>
          <option value="min 60">min 60</option>
          <option value="min 70">min 70</option>
          <option value="min 80">min 80</option>
          <option value="min 90">min 90</option>
        </select>
      </div>
    </div>
    <br>
      <!-- <div class="row">
        <div class="col-25">
          <label for="vacancies">Cid</label>
        </div>
        <div class="col-75">
          <input type="number" id="lname" value = {{user.id}} name="cid">
        </div> -->
      <center><input type="submit" value="Post Job" id="try2" onsubmit="myFunction2()"></center>
    </form>
   </div>
  {% else %}
    <center><h1 style="margin-top: 20%;">You can post Jobs only after Admin approves you!!!</h1></center>
  {% endif %}
  
<!-- </div> -->
<script>
  function TDate() {
    var UserDate = document.getElementById("txtStartDate").value;
    var ToDate = new Date();

    if (new Date(UserDate).getTime() <= ToDate.getTime()) {
          alert("The Date must be Bigger or Equal to today date");
          return false;
     }
    return true;
}
function myFunction2() {
  alert("Job is Sucessfully posted!!");
}

function DateCheck()
{
  var StartDate= document.getElementById('txtStartDate').value;
  var EndDate= document.getElementById('txtEndDate').value;
  var eDate = new Date(EndDate);
  var sDate = new Date(StartDate);
  if(StartDate!= '' && StartDate!= '' && sDate> eDate)
    {
    alert("Please ensure that the End Date is greater than or equal to the Start Date.");
    return false;
    }
  var ToDate = new Date();

  if (new Date(EndDate).getTime() <= ToDate.getTime()) {
          alert("The Date must be Bigger or Equal to today date");
          return false;
     }
    return true;
}
</script>
<script>
  (function(){

    "use strict"

    
    // Plugin Constructor
    var TagsInput = function(opts){
        this.options = Object.assign(TagsInput.defaults , opts);
        this.init();
    }

    // Initialize the plugin
    TagsInput.prototype.init = function(opts){
        this.options = opts ? Object.assign(this.options, opts) : this.options;

        if(this.initialized)
            this.destroy();
            
        if(!(this.orignal_input = document.getElementById(this.options.selector)) ){
            console.error("tags-input couldn't find an element with the specified ID");
            return this;
        }

        this.arr = [];
        this.wrapper = document.createElement('div');
        this.input = document.createElement('input');
        init(this);
        initEvents(this);

        this.initialized =  true;
        return this;
    }

    // Add Tags
    TagsInput.prototype.addTag = function(string){

        if(this.anyErrors(string))
            return ;

        this.arr.push(string);
        var tagInput = this;

        var tag = document.createElement('span');
        tag.className = this.options.tagClass;
        tag.innerText = string;

        var closeIcon = document.createElement('a');
        closeIcon.innerHTML = '&times;';
        
        // delete the tag when icon is clicked
        closeIcon.addEventListener('click' , function(e){
            e.preventDefault();
            var tag = this.parentNode;

            for(var i =0 ;i < tagInput.wrapper.childNodes.length ; i++){
                if(tagInput.wrapper.childNodes[i] == tag)
                    tagInput.deleteTag(tag , i);
            }
        })


        tag.appendChild(closeIcon);
        this.wrapper.insertBefore(tag , this.input);
        this.orignal_input.value = this.arr.join(',');

        return this;
    }

    // Delete Tags
    TagsInput.prototype.deleteTag = function(tag , i){
        tag.remove();
        this.arr.splice( i , 1);
        this.orignal_input.value =  this.arr.join(',');
        return this;
    }

    // Make sure input string have no error with the plugin
    TagsInput.prototype.anyErrors = function(string){
        if( this.options.max != null && this.arr.length >= this.options.max ){
            console.log('max tags limit reached');
            return true;
        }
        
        if(!this.options.duplicate && this.arr.indexOf(string) != -1 ){
            console.log('duplicate found " '+string+' " ')
            return true;
        }

        return false;
    }

    // Add tags programmatically 
    TagsInput.prototype.addData = function(array){
        var plugin = this;
        
        array.forEach(function(string){
            plugin.addTag(string);
        })
        return this;
    }

    // Get the Input String
    TagsInput.prototype.getInputString = function(){
        return this.arr.join(',');
    }


    // destroy the plugin
    TagsInput.prototype.destroy = function(){
        this.orignal_input.removeAttribute('hidden');

        delete this.orignal_input;
        var self = this;
        
        Object.keys(this).forEach(function(key){
            if(self[key] instanceof HTMLElement)
                self[key].remove();
            
            if(key != 'options')
                delete self[key];
        });

        this.initialized = false;
    }

    // Private function to initialize the tag input plugin
    function init(tags){
        tags.wrapper.append(tags.input);
        tags.wrapper.classList.add(tags.options.wrapperClass);
        tags.orignal_input.setAttribute('hidden' , 'true');
        tags.orignal_input.parentNode.insertBefore(tags.wrapper , tags.orignal_input);
    }

    // initialize the Events
    function initEvents(tags){
        tags.wrapper.addEventListener('click' ,function(){
            tags.input.focus();           
        });
        

        tags.input.addEventListener('keydown' , function(e){
            var str = tags.input.value.trim(); 

            if( !!(~[9 , 13 , 188].indexOf( e.keyCode ))  )
            {
                e.preventDefault();
                tags.input.value = "";
                if(str != "")
                    tags.addTag(str);
            }

        });
    }


    // Set All the Default Values
    TagsInput.defaults = {
        selector : '',
        wrapperClass : 'tags-input-wrapper',
        tagClass : 'tag',
        max : null,
        duplicate: false
    }

    window.TagsInput = TagsInput;

})();

 var tagInput1 = new TagsInput({
            selector: 'tag-input1',
            duplicate : false,
            max : 10
        });
        tagInput1.addData(['10th' , '+2' , 'BCA','MCA','BBA','MBA','BSC','MSC','B-COM','M-COM','B-TECH','M-TECH','DIPLOMA'])
    
</script>
</body>
{% endblock %}
</html>