{% extends 'base2.html'%}
<html>
    {% block content %}
    <body>

        <div style="text-align: center;">
            <h1>Programming and Tech</h1>
        </div>
        <div style="height: 70%;width:25%;float:right;background-color:#ffffffb5;margin-top:2%;margin-right:2%;border-radius:10px;border-top-right-radius: 50px;border-bottom-left-radius: 50px; padding-left:2%;line-height: 300%;">
          <h2>Wats On this Page</h2> 
           <ul type="square">
            <a href="#a" style="width:auto;color:rgb(8, 46, 89)"><li>Responsibilities</li></a>
            <a href="#b" style="width:auto;color:rgb(8, 46, 89)"><li>Qualifications</li></a>
            <a href="#c" style="width:auto;color:rgb(8, 46, 89)"><li>Skills</li></a>
            <a href="#d" style="width:auto;color:rgb(8, 46, 89)"><li>Work experience</li></a>
            <a href="#e" style="width:auto;color:rgb(8, 46, 89)"><li>Career prospects</li></a>
            <a href="#f" style="width:auto;color:rgb(8, 46, 89)"><li>Working hours</li></a>
            <a href="#g" style="width:auto;color:rgb(8, 46, 89)"><li>What to expect</li></a>
           </ul>
        </div>
        <div id="a" style="height:450px;width: 70%; float:left;background-color:#0a0909dc;margin-top:2%;margin-left:2%;border-radius:5px;padding-left:7px;color:white">
            <h3>Software engineers apply scientific and mathematical principles in order to create computer software and solve problems.</h3>
              <h2>Responsibilities</h2>
                <h3>Jobs directly related to your degree include:</h3>
                <ul>
                    As a software engineer, you'll need to:
                    <li>analyse user requirements</li>
                    <li>write and test code, refining and rewriting it as necessary and communicate with any programmers involved in the project</li>
                    <li>research, design and write new software programs (e.g. business applications or computer games) and computer operating systems</li>
                    <li>evaluate the software and systems</li>
                    <li>develop existing programs by analysing and identifying areas for modification</li>
                    <li>integrate existing software products and get incompatible platforms to work together</li>
                    <li>create technical specifications</li>
                    <li>write operational documentation with technical authors</li>
                    <li>maintain systems by monitoring and correcting software defects</li>
                    <li>investigate new technologies</li>
                    <li>continually update technical knowledge and skills by attending in-house and external courses, reading manuals and accessing new applications.</li>       
                </ul>
        </div>
        <div id="b" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#208bd2a0;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
           <h2 style="text-align:center;">Qualifications</h2>
            <p style="text-align:justify;">Although this area of work is open to all graduates, applicants will be expected to have some technical ability. Having studied one of the following subjects may increase your chances of employment:
                <ul>
                    <li>computer science</li>
                    <li>computer software or computer systems engineering</li>
                    <li>electronics</li>
                    <li>information systems</li>
                    <li>mathematics</li>
                    <li>physics.</li>
                </ul>
                Many of the larger graduate recruiters will only employ graduates with proven technical skills and a good degree (2:1 or above) in a computing-related discipline.
            </p> 
        </div>
        <div id="c" style="height:45%;width: 45%;line-height: 1.6; float:right;background-color:#0a0909dc;margin-top:1%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;color:white">
            <h2 style="text-align:center;">Skills</h2>
             <p style="text-align:justify;">
                You'll need to show evidence of the following:
                <ul>
                <li>knowledge of computer systems and technologies</li>
                <li>technical competency</li>
                <li>the ability to communicate with clients, colleagues and management to explain complex issues clearly and concisely</li>
                <li>a meticulous and organised approach to work</li>
                <li>a logical, analytical and creative approach to problems</li>
                <li>thoroughness and attention to detail</li>
                <li>business skills and commercial awareness</li>
                <li>the ability to work both in a team and alone and to manage your own workload</li>
                <li>career motivation and a willingness to continue to further your knowledge and skills</li>
                <li>an ability to learn new skills and technologies quickly</li>
                <li>an awareness of current issues affecting the industry and its technologies.</li>
               </ul> </p> 
         </div>
         <div id="d" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#0a0909dc;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;color:white">
            <h2 style="text-align:center;">Work experience</h2>
             <p style="text-align:justify;">Relevant work experience is a good way of demonstrating a genuine interest in computing and is regarded favourably by employers. Gain experience through course-related placements, opportunities to work shadow or a year in industry.
                <h3>Work experience</h3>
                Software engineers are employed in a range of sectors.
                <ul>
                <li>specialist IT firms - such as IT consultancies, large IT providers, software development, internet providers and training firms;<br>
                     organisations that use IT software, systems and equipment, including retailers, law firms, business intelligence and market research organisations,<br>
                     education providers, the armed forces, the public sector and voluntary sector organisations.</li>
                <li>manufacturing industry - including automotive, navigation, telecommunications, manufacturing and construction companies.</li>
                <li>financial services - including global investment banks, financial/banking organisations, security market specialists and the pensions sector.</li>
                <li>public utilities - covering energy and water supply, energy extraction and transport.</li>
                </ul>
                Depending on the setting software engineering may be offered as part of a wider role, so look beyond the job title.
                Consultancy is another area where software engineer jobs arise. The role may include other elements, such as analysis, implementation and support. Small to medium-sized enterprises (SMEs) are a growing part of the IT industry and may also have opportunities.</p> 
         </div>
         <div id="e" style="height:45%;width: 45%;line-height: 1.6; float:right;background-color:#ffffffb5;margin-top:1%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Career prospects</h2>
             <p style="text-align:justify;">
                There are different levels of software engineering and promotion is usually dependent upon both ability and experience.
                An entry-level post typically involves working under supervision, formulating the scope of, and objectives, for systems and designing code. After around three years, you may progress to preparing detailed specifications from which programs may be written and be competent to work at the highest technical level.
                A senior software engineer often supervises the activities of a team of developers for a large project or several smaller projects. This usually requires a minimum of five years' experience.
                Progression is mainly into management via team leadership and project management roles, or to designer/consultant via technical specialisation. Transfer between organisations for advancement is often possible.
                Software engineers are specialists and may remain within one organisation, and frequently in one role, for much of their working lives. However, others expand and develop their roles to the extent that software engineering becomes part of a much wider role in positions such as technical writing, IT training and education. They can also move on to the role of software architect.
               </p>
            </div>
            <div id="f" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#208bd2a0;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
                <h2 style="text-align:center;">Working hours</h2>
                 <p style="text-align:justify;"> Working hours are typically 9am to 5pm. However, longer hours are often necessary towards the end of projects as deadlines approach, as well as during the testing stage so that systems can be tested when they're not being used. In some cases, software engineers may be required to be on call to deal with problems.
                     This can involve evening and weekend work in a shift pattern.
                    Allowances may be available in these cases.Self-employment and freelance or contract work is possible as there is an increasing market for contract software engineers with specialist knowledge. Career breaks, on the other hand, may be difficult due to the need to keep technical knowledge up to date in a rapidly changing environment.</p> 
             </div>
             <div id="g" style="height:45%;width: 45%;line-height: 1.6; float:right;background-color:#0a0909dc;margin-top:-6%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;color:white">
                <h2 style="text-align:center;">What to expect</h2>
                 <p style="text-align:justify;"> 
                    <ul>
                        <li>The job involves spending many hours at the keyboard, so high levels of concentration are required. </li>
                        <li>The work is mainly office based or in computer laboratories.</li>
                        <li>Projects may be undertaken alone or in small teams.</li>
                        <li>Women are currently underrepresented in this profession and gender imbalance across the IT industry as a whole is a recognised issue.</li>
                        <li>Depending on the nature of the business, travel within a working day or absence from home at night may be required.</li>
                   </ul> </p> 
             </div>
             <div style="height:102px;width: 45%;line-height: 1.6; float:right;background-color:transparent;margin-top:1%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
                <h2 style="text-align:center;font-size:large">To Check our Job oppurtunities for you,<a href="{% url 'login' %}" style="width:auto;">Log in to our site :)</a></h2>
            </div>
    </body>
    {% endblock %}
</html>