{% load static %}
<html>
    <style>
        .box-centerside {
            margin-left: 30%;
            position: relative;
            min-height: 100px;
            width:68%;
            text-align: justify;
          }
          .box {
            height:fit-content;
            width:80%; 
            float:left;
            position: relative;
            margin-left:15%;
            margin-top:8%;
            background-color:aqua;
            text-align: justify;
          }
          
    </style>
    <body style="background-color:rgba(15, 184, 227, 0.598)">
     <center>
       <div style="background-color: white; height:200%;width:60%;">
         <div style="height:100%;width:30%;background-color:rgba(185, 188, 36, 0.281);margin-right:80%;">
             <div style="height:160px;width:160px; float:left;margin-left:15%;margin-top:8%;">
                <img src="{% static 'images/blog1.jpg'%}" width="160px" height="160px" style="border-radius:50%;">
             </div>
             <div class="box">
                <h3 style="font-weight: bold;text-align:left;">CONTACT</h3><hr>
                <h4 style="font-weight: bold;text-align:left;margin-bottom:5%;">POSITION</h4>
             </div>
             <div class="box">
                <h3 style="font-weight: bold;text-align:left;">SKILL</h3><hr>
                <h4 style="font-weight: bold;text-align:left;margin-bottom:5%;">POSITION</h4>
             </div>
             <div class="box">
                <h3 style="font-weight: bold;text-align:left;">STRENGTH</h3><hr>
                <h4 style="font-weight: bold;text-align:left;margin-bottom:5%;"></h4>
             </div>
             <div class="box">
                <h3 style="font-weight: bold;text-align:left;">PERSONAL DETAILS</h3><hr>
                <h4 style="font-weight: bold;text-align:left;margin-bottom:5%;">POSITION</h4>
             </div>
             <div class="box">
                <h3 style="font-weight: bold;text-align:left;">LANGUAGE</h3><hr>
                <h4 style="font-weight: bold;text-align:left;margin-bottom:5%;">POSITION</h4>
             </div>
         </div>
         <div style="margin-top:-158%;">
             <div class="box-centerside" style="background-color:rgba(185, 188, 36, 0.281);">
                <h1 style="font-weight: bold;text-align:left;">NAME NAME</h1>
                <h3 style="font-weight: bold;text-align:left;margin-bottom:5%;">POSITION</h3>
             </div>
             <div class="box-centerside" style="background-color:rgba(185, 188, 36, 0.281);">
                <h3 style="font-weight: bold;text-align:left;">CAREER OBJECTIVE</h3><hr>
                <p style="text-align:left;">Content.....</p>
             </div>
             <div class="box-centerside" style=" background-color:rgba(185, 188, 36, 0.281);">
                <h3 style="font-weight: bold;text-align:left;">EDUCATION</h3><hr>
                <p style="text-align:left;">Content.....</p>
             </div>
             <div class="box-centerside" style="background-color:rgba(185, 188, 36, 0.281);">
                <h3 style="font-weight: bold;text-align:left;">PROJECTS</h3><hr>
                <p style="text-align:left;">Content.....</p>
             </div>
             <div class="box-centerside" style="background-color:rgba(185, 188, 36, 0.281);">
                <h3 style="font-weight: bold;text-align:left;">CERTIFICATIONS</h3><hr>
                <p style="text-align:left;">Content.....</p>
             </div>
             <div class="box-centerside" style="background-color:rgba(185, 188, 36, 0.281);">
                <h3 style="font-weight: bold;text-align:left;">ACHIEVEMENTS</h3><hr>
                <p style="text-align:left;">Content.....</p>
             </div>
             <div class="box-centerside" style=" background-color:rgba(185, 188, 36, 0.281);">
                <h3 style="font-weight: bold;text-align:left;">INTERNSHIPS</h3><hr>
                <p style="text-align:left;">Content.....</p>
             </div>
             <div class="box-centerside" style=" background-color:rgba(185, 188, 36, 0.281);">
                <h3 style="font-weight: bold;text-align:left;">REFERENCES</h3><hr>
                <p style="text-align:left;">Content.....</p>
             </div>
          </div>
       </div>
     </center>
    </body>
</html>