{% extends 'base2.html'%}
{% load static %}
<html>
    {% block content %}
    <body>

        <div style="text-align: center;">
            <h1>How to Build up a Resume</h1>
        </div>
        <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
          <center><h2>Wats On this Page</h2> </center>
          <p>For most job-seekers, a good resume is what stands between a dream job and Choice D. Get your resume right, and you’ll be getting replies from every other company you apply to.
          If your resume game is weak, though, you’ll end up sitting around for weeks, maybe even months, before you even get a single response.
          So you’re probably wondering how you can write a resume that leads to HR managers inviting you to interviews daily.
          Well, you’ve come to the right place!

          In this guide, we’re going to teach you everything you need to know about how to make a resume:</p>
          <img src="{% static 'images/resume1.png' %}" alt="" width="700px" height="700px">
        </div>
        <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
            <center><h1>How to Make a Resume (The Right Way!)</h1></center>
            <p>Before you even start working on your resume, you need to decide how you’re going to build it.
                And no - you shouldn’t use a basic text editor. While this IS the most popular method for creating a resume, it’s very far from the best.
                With a basic text editor resume, you’ll need to spend hours playing with the formatting. You make a minor change and BAM! Your entire resume layout gets messed up.
                Instead of using a text editor, we recommend choosing a resume builder, such as Novorésumé. Our resume builder is fast, easy, and to put the icing on the cake, 
                a Novorésumé looks much better and can fit more information than your average, cookie-cutter resume...</p>
                <img src="{% static 'images/resume2.png' %}" alt="" width="700px" height="700px">
          </div>
          <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
            <center><h1>How to Pick the Right Resume Format?</h1></center>
            <p>There are three types of resume formats: reverse chronological, functional or skills-based, and a combination of the two. The choice depends on the type of job you are applying for and your level of experience.
                The 3 resume formats are:
                1) Reverse chronological resume format - This is the most popular resume format and is ideal for people with plenty of work experience that is relevant to the position they’re interested in.               
                2) Functional/skills-based resume format – If you lack relevant work experience because you are a student/recent graduate, or you are looking to make a career change, the skills-based format is a better choice.              
                3) Combination resume format – The combination resume is a great choice for job-seekers with a very diverse skill-set. It’s useful if you’re applying for a role that requires expertise in 3-4 different fields, and you want to show all that in your resume. Say, for example, you’re applying for a senior management role, and the requirements are expertise in Management, Sales, and Software Development.           
                So, which one do you go for?
                In 90%+ cases, you’d want to stick to the reverse-chronological resume format. This is the most common one, and most HR managers are used to this. Hence, in this guide, we’re going to focus on this specific format.</p>
                <img src="{% static 'images/resume3.png' %}" alt="" width="700px" height="700px">
          </div>
          <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
            <center><h1>What is the Best Resume Layout?</h1></center>
            <p>The first thing a job recruiter notices about any resume is the layout.
                Does it look organized or cluttered? Is it too short or too long? Is it boring and easy to ignore, or does it scream out “Read me!”?  
                Here are some of the best practices when it comes to your resume layout:
                1. One page in length. You should only go for 2 pages if you really, really believe that it’ll add significant value. HR managers in big firms get around 1,000+ resumes per month. They’re not going to spend their valuable time reading your life story!
                2. Clear section headings. Pick a heading (H2, for example) and use it for all the section headers.   
                3. Ample white-space, especially around the margins.              
                4. Easy-to-read font. We’d recommend sticking to what stands out, but not too much. Do: Ubuntu, Roboto, Overpass, etc. Don’t (ever): Comic Sans              
                5. Pick the right font size. As a rule of thumb, go for 11 - 12 pt for normal text, and 14 - 16 pt for section titles.               
                6. As a rule of thumb, save your resume as PDF. Word is a popular alternative, but it has a good chance of messing up your resume formatting.
                One more thing you need to consider in terms of resume layout is whether you’re going for a traditional-looking free resume template or something a bit more modern:One more thing you need to consider in terms of resume layout is whether you’re going for a traditional-looking free resume template or something a bit more modern:</p>
                <img src="{% static 'images/resume4.png' %}" alt="" width="700px" height="700px">
          </div>
          <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
            <center><h1>Resume Content - What to Mention on Your Resume</h1></center>
            <p>Now that we’ve got the basics out of the way, let’s dive into the essentials of how to write a resume.

                The most popular sections for a resume are:
                <ul type="square">
                    <li>Contact Information</li>
                    <li>Professional Resume Summary or Objective</li>
                    <li>Work Experience (and Achievements)</li>
                    <li>Education</li>
                    <li>Skills</li>
                    <li>Optional Sections - Languages, Publications, Hobbies, etc.</li>
                </ul>
                Below, we'll explore each resume section from top to bottom. We'll explain what to write and how to write it so that you stand out and get the job you deserve.
                <h2>Contact Information</h2>
                The most critical section in your resume is the “contact information.” Even if you get everything else right, you’re not going to go far if the HR manager can’t get in touch with you because you misspelled your email.
                Make sure to double-check, and even triple-check your contact information section and make sure everything is correct and up-to-date. 
                <h3>Must-have Information</h3>
                <ul type="square">
                    <li>First Name / Last Name. </li>
                    <li>Phone Number. </li>
                    <li>Email Address. </li>
                    <li>Location - are you located in the area, or will the company have to sponsor relocation?</li>
                </ul>
                <h3>Optional Information</h3>
                <ul type="square">
                    <li>Title - Your professional title. It can be your position, word-for-word, or your desired job. Think “Digital Marketing Specialist” or “Junior Data Scientist.”</li>
                    <li>LinkedIn URL - If you have an up-to-date profile that can add value to your application, make sure to include the link.</li>
                    <li>Social Media - Do you have a published portfolio online? For developers, this would be your GitHub, for a designer Behance or Dribble and for a writer, it could be your personal blog.</li>
                    <li>Website / Blog - Do you have an online presence? Maybe a blog that positions you as an expert in your field? If you do, make sure to mention it!</li>
                </ul>
                <h3>What NOT to Include in the Contact Info Section</h3>
                <ul type="square">
                    <li>Date of Birth (unless specifically required in the job ad) - The HR manager doesn’t need to know how old you are. It’s not important for their decision-making, and at worst, it might lead to discrimination based on age.</li>
                    <li>Unprofessional Email Address - Do: name.lastname@gmail.com Don’t: player69@gmail.com</li>
                    <li>Headshot - The HR manager doesn’t need to know what you look like in order to evaluate your application, so there’s no real need to include it.</li>
                </ul></p>
                <img src="{% static 'images/resume5.png' %}" alt="" width="700px" height="200px">
          </div>
          <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
            <center><h1>Resume Summary or Objective</h1></center>
            <p>It’s not a secret for anyone that first impressions matter, whether they’re in your personal life, or your career.
                If you leave a bad first impression, chances are, it’s there to stay. After all, it’s very hard to change someone’s opinion of you.
                The same applies to your job search - the HR manager spends around 6 seconds scanning each resume. Yep, your carefully-worded, hand-crafted resume only gets 6 seconds of attention. Unless, of course, you manage to leave an amazing first impression.
                The way you accomplish this is through either a good resume summary or objective. Both are placed at the top of your resume, right around the contact information section:</p>
                <img src="{% static 'images/resume6.png' %}" alt="" width="700px" height="700px">
          </div>
          <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
            <center><h1>What’s a Resume Summary & When to Use it</h1></center>
            <p>A resume summary is a 2-3 sentence summary of your career. You should use a resume summary in basically any situation, unless you’re a recent university graduate or switching careers (in that case, you use a resume objective. More on that later!).
                In your resume summary, you need to mention:
                <ul>
                    <li>Your job and years of experience. E.g.: Customer support representative with 5+ years of experience in the IT industry.</li>
                    <li>1 or 2 top achievements (or core responsibilities). E.g.: Specialized in technical support, customer care, and user retention.</li>
                    <li>Desired goal (generally, passion for working at a specific company). E.g.: Looking for new opportunities as a support lead for a SaaS company.</li></ul></p>
          </div>
          <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
            <center><h1>What’s a Resume Objective & When to Use itt</h1></center>
            <p>A resume objective is, in a nutshell, the goal of your resume. It communicates your motivation for getting into a new field. As with a resume summary, a resume objective should be around 2-3 sentences. 
                As we’ve mentioned before, a resume objective is the go-to for anyone that either has no work experience or is going through a career change.
                <br><br>Formula to Create Your Resume Objective:<br>
                (1) [SKILL/EDUCATION/CERTIFICATION RELEVANT TO THE JOB WITH JOB TITLE]. 
                 Looking to apply my (2) [years/months of EXPERIENCE RELEVANT TO THE JOB DESCRIPTION] at [COMPANY YOU ARE APPLYING TO]
                 to help (3) [TYPE OF RESPONSIBILITIES YOU WILL HELP OUT WITH SUCCESSFULLY]. 
                 <h3>Examples of Resume Objectives</h3>
                 1) So, here’s how that would look like if you’re a student:
                 “Hard-working recent graduate with a B.A. in Graphic Design from New York State University seeking new opportunities. 3+ years of practical experience working with Adobe Illustrator and Photoshop, creating illustrations & designing UX / UI. Looking to grow as a designer, as well as perfect my art, at the XYZ Design Studio.”
                 <br><br>2) Or, on the other hand, if you’re going through a career change:
                 “IT project manager with 5+ years of experience in software development. Managed a team of developers to create products for several industries, such as FinTech and HR tech. Looking to leverage my experience in managing outsourced products as a Product Owner at XYZ.”</p>
          </div>
          <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
            <center><h1>Work Experience</h1></center>
            <p>The most important part of your resume is your work experience.
                This is where you really sell yourself, displaying your past accomplishments and responsibilities.
                If you manage to master this section alone, you’ll know 80%+ of all there is to know about how to make a resume.
                There are a lot of best practices for writing your work experience. Before we dive into all the nits and grits, though, let’s start with the basics...
            <h3>How to List Work Experience in a Resume</h3><br>
            The standard format for your work experience is as follows:<br>
            <ul>
                <li>Job Title/Position - Your job title goes on top of each work experience entry. When the HR manager scans your resume, you want them to know, at a glance, that you have relevant work experience for the job.</li>
                <li>Company Name / Location / Description - Then, you mention the name of the relevant employer, as well as the location of the office you work/have worked in. In some cases, you may also want to briefly describe the company, if the organization is not a famous household name.</li>
                <li> Achievements and Responsibilities - This is the core of each work experience entry. Depending on your field, you want to list either your achievements or responsibilities. We’ll get more into the how’s and why's of this in a bit.</li>
                <li> Dates Employed - The timeframe of your employment in each company. Not sure about the exact dates you worked somewhere? Don’t worry - you don’t have to be accurate by the day, as long as it’s close. The standard format expected by recruiters and employers is mm/yyyy (this is especially important when your job application will be parsed by an Applicant Tracking System).</li>
            </ul>
           </p>
                <img src="{% static 'images/resume7.png' %}" alt="" width="700px" height="700px">
                <p><h3>List Achievements When Possible</h3>
                One of the most common resume mistakes is listing only responsibilities in your work experience section.
                Here’s the thing - in most cases, the hiring manager knows what, exactly, your responsibilities were. Let’s say you’re a sales manager, for example. Your responsibilities would be:
               <ul>
                <li>Reach out to potential clients over the phone or email.</li>
                <li>Maintain relationships with existing company clients and upsell relevant products.</li>
                <li>Tracking and reporting on leads in CRM.</li>
               </ul>
               Coincidently, this is exactly the same list of responsibilities for every sales manager. 90% of all other resumes probably mention just about the same thing.
               So, to stand out, you want to focus on mentioning achievements in your resume instead. Or in simple terms, how exactly you helped the company grow, reach quarterly quotas, and so on.
               Keep in mind, though, that in some fields, there aren’t that many achievements you can mention. Let’s say you work in a warehouse. Your day-to-day responsibilities probably involve:
               <ul>
                <li>Loading, unloading and setting up equipment on a daily basis.</li>
                <li>Package finished product and get it ready for shipping.</li>
                <li>Assist in opening and closing the warehouse.</li>
               </ul>
               <h3>Tailor Your Resume to the Job</h3>
                Did you know that over 70% of resumes submitted to job boards are never read?
                Yep, Applicant Tracking Systems (ATS) keep your resume from being read by HR. An ATS (for resume) is software that helps companies filter through hundreds of resumes they receive per day.
                So you’re probably wondering, “What gives?! What’s the point of perfecting your resume, if a robot can just say “No” and single-handedly destroy all the effort you put in?”
                Well, don’t worry - getting past the Application Tracking System is not hard, as long as you know how to do it.
                The key here is to tailor your resume to each job you apply. To do this, you need to mention the right keywords from the job ad in your resume.
                So, let’s cover a simple example on how to do this. Let’s say that after reading the following job ad for the position of a digital marketer, you discover that the most critical requirements for the job are:
               </p>
               <img src="{% static 'images/resume8.png' %}" alt="" width="700px" height="700px">
               <p>
                <ul>
                    <li>5+ years of experience in online marketing</li>
                    <li>Social media marketing experience, with good knowledge of Facebook advertising</li>
                    <li> B.A. in Marketing or Business Administration</li>
                    <li>Experience managing 20,000 USD monthly advertising budget on Facebook</li>
                </ul>
                Now, to tailor your resume to these requirements, simply mention each in your resume, considering you have the relevant achievements and qualifications! </p>
                <h3>How much work experience do you include in your resume? </h3>
                <p>If you’ve got over a decade’s worth of work experience, you’re probably confused about how much of it you mention in your resume. After all, If you had to list everything you’ve ever done, you’d end up writing a mini-novella.
                Or, on the other hand, if you’re a newcomer to the job market, you probably don’t have ANY experience and are wondering what could you even mention.
                Here’s how much information you’d mention in your resume depending on your level of experience:
                <ul>
                    <li>Job hunters with no experience - If you don’t have any experience, it might be a bit hard to fill in your work experience section. You can either keep it empty and focus on all the other sections, or fill it up with work experience in student organizations, non-profits, etc.</li>
                    <li>Entry-level candidates - List all the work you’ve done up to now.</li>
                    <li>Mid-level professionals - ONLY mention work experience relevant to the position you’re applying for.</li>
                    <li>Senior professionals - List up to 15 years of relevant work experience MAX. If your recent experience is as a CEO, no one cares about how you started your career as a cashier in your teenage years.</li>
                </ul>
                </p>
            </div>
            <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
                <center><h1>How to List Education on Your Resume</h1></center>
                <p>The next section we’re going to cover is your Education. Let’s start with the basics - how to format the education section & what to mention there. Then, we’ll move on to tips & tricks that’ll help you stand out…
                    <ul>
                        <li>Program Name. E.g.: “B.A. in Business Administration”</li>
                        <li>University Name. E.g.: “New York State University”</li>
                        <li>Years Attended. E.g.: “08/2008 - 06/2012”</li>
                        <li>(Optional) GPA. E.g.: “3.9 GPA”</li>
                        <li>(Optional) Honors. E.g.: Cum Laude, Magna Cum Laude, Summa Cum Laude.</li>
                        <li>(Optional) Academic achievements. Any interesting papers you’ve written, courses you’ve excelled in, etc.</li>
                        <li>(Optional) Minor. “Minor in Psychology”</li>
                    </ul>
                    Here's an example:
                    </p>
                    <img src="{% static 'images/resume9.png' %}" alt="" width="700px" height="300px">
              </div>
              <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
                <center><h1>Emphasize Your Know-How with the Skills Section</h1></center>
                <p>Another must-have section in your resume is the “Skills” section. Here, you want to mention all your know-how that makes you the perfect candidate for the job.
                    There are 2 types of skills you can include when writing your resume:   
                    Hard Skills (Measurable abilities). This can be anything from coding in Python to knowing how to cook Thai cuisine.
                    Soft Skills (Personal skills). These are a mix of social skills, communication skills, personal traits, career attributes, and so on. Leadership, critical thinking, management, and communication, just to name a few.     
                    A good resume should cover both.</p>
              </div>
              <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
                <center><h1>How to List Skills in Your Resume</h1></center>
                <p>When mentioning skills in your resume, there are 3 essential steps to follow:
                    <br><br>Step #1 - List Hard Skills with Experience Levels. For each hard skill you list, you want to mention your proficiency level:</p>
                    <img src="{% static 'images/resume10.png' %}" alt="" width="700px" height="700px">
                    <p>
                        As a rule of thumb, you can divide them by:

                        <br>Beginner - You have some experience with the skill, whether it’s from some entry-level practice or classroom education.
                        <br>Intermediate - You’ve used the skill in a work environment with a good level of understanding.
                        <br>Advanced - You’re the go-to person for the skill in your office. You can coach other employees, and understand the skill on a high level.
                        <br>Expert - You’ve applied this skill in more than a handful of different projects & organizations. You’re the go-to person for advice about the skill, not just in your office, but even amongst some of the best professionals in your field.
                        <br>Make sure to NEVER lie about your skill levels. Otherwise, it’s going to be pretty awkward both for you and your employer.
                        Imagine your first task at work as an Illustrator - to create a graphic vector to go nicely with an article. If you end up delivering a hastily drawn stick figure colored with a paint bucket tool in Microsoft Paint, you’ll be out of the job before your probation period ends. 
                        <br> <br>Step #2 - Tailor Your Skills to the Job. You might have some super rare, awesome skills, but they’re not always going to be useful. For example, it’s awesome that you know accounting, but would you really need it at your new job as a line cook? Exactly!
                        Take a look at the job ad and list 2-3 essential skills required for the job.
                        As you can see, the must-have skills here are Photoshop, InDesign, Illustrator, Keynote and Pages. A good-to-have is WordPress. You can also mention Word, Excel, Powerpoint, and Outlook, but it’s pretty much assumed that you know how to use them, as they’re required for most office jobs.
                        If you’re qualified, make sure to mention all relevant skills with respective proficiency levels in your “Skills” section. 
                        <br> <br>Step #3 - Include Some Universal Skills - “Universal Skills” are the type of skills useful for almost any job out there. These are both soft skills (leadership, teamwork, critical thinking, etc.) and hard skills (Excel, Powerpoint, Photoshop, writing, etc.). Whatever job you’re applying to, chances are, these skills will in one way or another come in handy, so feel free to include them, even if they’re not specifically required for the position.
                        Not sure which skills to mention for your field? It might be one of these 100+ essential skills to put on any resume!
                    </p>
              </div>
              <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
                <center><h1>Other Important Resume Sections</h1></center>
                <img src="{% static 'images/resume11.png' %}" alt="" width="700px" height="700px">
                <p>The sections we’ve covered so far are must-haves for any resume. They’re the bread-and-butter for any job application, and if you get them right, you’ll land any job you apply to.
                    The following sections, though, can really give you a boost here and there.
                    Languages
                    Are you bi-lingual? Or better, multi-lingual? You should ALWAYS mention that on your resume!
                    Even if the position doesn’t require you to know the specific language, it can still come in handy at some point. At the end of the day, it’s always better to know more languages than less.
                    To list languages in your resume, simply write them down and assign them the appropriate level:
                    <ul>
                        <li>Native</li>
                        <li>Fluent</li>
                        <li>Proficient (Enough knowledge to pass by in a professional environment)</li>
                        <li>Intermediate</li>
                        <li>Basic</li>
                        <li>As a given, you should never lie about your language skills. You never know, your interviewer might turn out to be fluent in the language, or even be a native speaker!</li>
                    </ul>
                    </p>
                    <h3>Hobbies & Interests</h3>
                    <p>Want to add some spice to your resume? The hobbies and interests section, while not a game-changer, can help show who YOU are as an individual. Who knows, maybe you and your interviewee have some hobbies in common? 
                        If you end up with some extra space in your resume, don’t hesitate to show off your personality with a hobbies/interests section.</p>
                        <br><h3>Volunteering Experience</h3>
                        <p>If you’re the type of person to use your free time helping others, while expecting nothing in return, chances are that you’re the type of employee who’s in it for more than just the money. It leaves the impression that you’re a devoted, loyal employee.
                            Several studies show that you can boost your chances of getting hired simply by listing your volunteering experience. This holds especially true if you’re a student with next to no work experience.</p>
                            <br><h3>Certifications & Awards</h3>
                            <p>Do you have any awards that make you stand out in your field? How about certifications from industry experts?
                                Whichever the case is, as long as it’s relevant for the position you’re applying for, feel free to add it to your resume.
                                Let’s say, for example, you’re a Microsoft Cloud Engineer. Assuming you specialize in Microsoft Technologies, you’d definitely want to include all essential certifications, such as the Azure Solutions Architect Expert one.</p>
                                <br><h3>Publications </h3>
                                <p>Are you a freelance writer? Maybe a distinguished academic?
                                    If you have any published works (online, or in an academic journal), you might want to include them in your resume. Make sure to include a URL, so the HR knows where to check your work!</p>
                                <br><h3>Projects</h3>
                                <p>Working on side projects can really show off your passion for your field. Whether they’re university class projects or part-time entrepreneurial endeavors, they’re both equally relevant.
                                    Let’s say, for example, you worked on a mock software product as part of a competition in university. You went through every step of product creation, from ideation to creating a marketing strategy. 
                                    You can mention the project in your resume and stand a better chance at landing that business internship!
                                    Or on the other hand, maybe you manage an Etsy store, selling hand-made arts & crafts to customers online. Mention all of it! 
                                    Hiring managers love employees who do cool work in their free time.</p>
                                    <br><h3>Perfecting Your Resume - FREE Checklist</h3>
                                    <p>Already done with your resume? Interested in seeing how it holds up? Go through our checklist for perfecting your resume and see where you stand!
                                        <h4>Free Checklist for Resume Writing</h4>
                                        <ul>
                                            <li> Does your contact information section have all the must-have information?</li>
                                            <li>Is your contact email professional? E.g.: firstname+lastname@email.com</li>
                                            <li>Are you using the right resume format?</li>
                                            <li>Is your resume 1-2 pages?</li>
                                            <li>Did you include all the must-have sections in your resume? </li>
                                            <li>Did you list only the most relevant work experiences?</li>
                                            <li>Did you list achievements instead of responsibilities?</li>
                                            <li>Did you tailor your resume to the job ad you’re applying for?</li>
                                            <li>Did you mention the right amount of work experience in your resume?</li>
                                            <li>Did you list your education in your resume?</li>
                                            <li>Did you list all the right skills for the position you’re applying for?</li>
                                            <li>Did you add any other important resume sections?</li>
                                            <li>And finally, did you proof-read your resume? We’d recommend asking a friend or using software like Grammarly.</li>
                                        </ul>
                                    </p>
                                </div>
                                <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
                                    <center><h1>4+ Effective Resume Examples</h1></center>
                                    <p>Knowing how to write a resume is one thing, actually creating a resume that stands out is something else entirely. Without inspiration, even top career experts might stumble on a roadblock or two.
                                        Check out the following effective resume examples to get a better sense of what a good resume looks like...     
                                        </p>
                                        <img src="{% static 'images/resume12.png' %}" alt="" width="700px" height="900px">
                                  </div>
                                  <div style="height: 50%;width:60%;background-color:#ffffff92;margin-top:2%;margin-left:20%;border-radius:10px; padding:2%;line-height: 150%;text-align:justify">
                                    <center><h1>...And let’s wrap it all up!</h1></center>
                                    <p>If you’ve followed all of our advice until now, congrats! You’re probably an expert on how to make a resume.
                                        <br><br>To wrap it all up, let’s brush up on some of the most important lessons we’ve learned so far...
                                        <ul>
                                            <li>Use the right resume builder. You don’t want to mess around with formatting for hours before even starting to work on your resume!</li>
                                            <li>Focus on achievements. Mention your achievements instead of responsibilities, so that you stand out from all the other applicants.</li>
                                            <li>Include the must-have sections. That is, resume summary, work experience, education, and skills.</li>
                                            <li>Tailor for the job. Everything listed on your resume should be relevant for the job you’re applying for.</li>
                                            <li>Perfect your cover letter. It’s as important as your resume, so make sure you pay as much attention to it! </li>
                                            <li>Check out the following effective resume examples to get a better sense of what a good resume looks like...     </li>
                                        </ul> </p>
                                        
                                  </div>
    </body>
    </body>
    {% endblock %}
</html>