{% extends 'base2.html'%}
<html>
    {% block content %}
    <body>

        <div style="text-align: center;">
            <h1>Restaurant \ Food Service</h1>
        </div>
        <div style="height: 70%;width:25%;float:right;background-color:#208bd2a0;margin-top:2%;margin-right:2%;border-radius:10px;border-top-right-radius: 50px;border-bottom-left-radius: 50px; padding-left:2%;line-height: 350%;">
          <h2>Wats On this Page</h2> 
           <ul type="square">
            <a href="#a" style="width:auto;color:rgb(8, 46, 89)"><li>Responsibilities</li></a>
            <a href="#b" style="width:auto;color:rgb(8, 46, 89)"><li>Qualifications</li></a>
            <a href="#c" style="width:auto;color:rgb(8, 46, 89)"><li>Skills</li></a>
            <a href="#d" style="width:auto;color:rgb(8, 46, 89)"><li>Work Experience</li></a>
            <a href="#e" style="width:auto;color:rgb(8, 46, 89)"><li>Career prospects</li></a>
            <a href="#f" style="width:auto;color:rgb(8, 46, 89)"><li>Working Hours</li></a>
            <a href="#f" style="width:auto;color:rgb(8, 46, 89)"><li>What to Expect?</li></a>
           </ul>

        </div>
        <div id="a" style="height:500px;width: 70%; float:left;background-color:#0a0909dc;color:white;margin-top:2%;margin-left:2%;border-radius:5px;padding-left:7px;">
            <h3>If you have a good head for business, the skills to motivate others and the drive and energy to succeed, a career as a fast food restaurant manager could be for you</h3>
              <h2>Responsibilities</h2>
                <h3>As a fast food restaurant manager, you'll be responsible for operational, financial and people management. You'll need to:</h3>
                <ul>
                    As a software engineer, you'll need to:
                    <li>organise stock and equipment, order supplies and oversee building maintenance, cleanliness and security</li>
                    <li>plan and work to budgets, maximise profits and achieve sales targets set by head office</li>
                    <li>control takings in the restaurant and administer payrolls</li>
                    <li>recruit new staff, and train and develop existing staff</li>
                    <li>coordinate staff scheduling and rotas, and motivate and encourage staff to achieve targets</li>
                    <li>ensure standards of hygiene are maintained and that the restaurant complies with health and safety regulations</li>
                    <li>ensure high standards of customer service are maintained</li>
                    <li>implement and instil in your team company policies, procedures and ethics</li>
                    <li>handle customer complaints and queries</li>
                    <li>prepare reports and other performance analysis documentation</li>
                    <li>implement branded promotional campaigns from head office, including the handling of point-of-sale promotional materials, or devise your own promotional campaigns</li>       
                    <li>report to, and attend regular meetings with area managers or head office representatives</li>       
                    <li>establish relationships with the local community and undertake activities that comply with the company's corporate social responsibility programmes.</li>       
                </ul>
        </div>
        <div id="b" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#ffffffb5;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
           <h2 style="text-align:center;">Qualifications</h2>
            <p style="text-align:justify;">You don't usually need a degree to work as a fast food restaurant manager unless you're joining a formal graduate management programme. These schemes are run by major fast food companies and usually accept graduates from any discipline, or people with experience of working in a customer-facing environment or managing teams.
                Many managers begin their careers as counter-service staff and work their way up to management level by acquiring experience, rather than formal qualifications. There are, however, a range of relevant qualifications available at various levels, including degree and postgraduate level, in areas such as:
                <ul>
                    <li>business studies or management</li>
                    <li>catering</li>
                    <li>hospitality and hospitality management</li>
                    <li>leisure management.</li>
                </ul>
                Some large companies, such as McDonald's and KFC, also have their own degree-level programmes, which provide opportunities to combine on-the-job experience with study.
                You can also do an apprenticeship in hospitality and catering. These are available at different levels - intermediate, advanced, higher and degree - and provide a combination of paid on-the-job training and study.
            </p> 
        </div>
        <div id="c" style="height:45%;width: 45%;line-height: 1.6; float:right;background-color:#0a0909dc;color:white;margin-top:1%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Skills</h2>
             <p style="text-align:justify;">
                You'll need to have:
                <ul>
                <li>excellent customer service skills</li>
                <li>strong communication skills, tact and diplomacy</li>
                <li>self-motivation and ambition</li>
                <li>commercial awareness</li>
                <li>enthusiasm and the ability to learn quickly</li>
                <li>good organisational skills</li>
                <li>energy and stamina, as well as resilience</li>
                <li>a results-driven approach to work</li>
                <li>decision-making and problem-solving skills.</li>
               </ul> </p> 
         </div>
         <div id="d" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#0a0909dc;color:white;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Work experience</h2>
             <p style="text-align:justify;">Formal qualifications are generally considered less important than evidence of relevant work experience and the personal qualities needed to be a successful manager.
                To get experience, you could work for a fast food outlet part time while studying, although experience in any customer-facing role is useful, as is the ability to manage a team.
                If your degree includes a year out in industry, you can use this time to build up experience working for your chosen fast food outlet. For instance,
                Pizza Express offers an undergraduate assistant manager programme aimed at students on their year out from studying hospitality or business degrees.</p> 
         </div>
         <div id="e" style="height:45%;width: 45%;line-height: 1.6; float:right;background-color:#208bd2a0;margin-top:-14%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Career prospects</h2>
             <p style="text-align:justify;">
                Rapid progression to senior management levels is possible for those who show commitment and drive. To make the most of opportunities you'll need to be flexible about working shifts and geographically mobile within your region.
                Progression through the ranks is positively encouraged and many employers are keen to nurture front-end staff through to management level, as they're already embedded in the culture and operations of the organisation.
                If you join a structured training programme, the usual progression route is to begin at trainee management level, move to assistant manager level and then become a manager. You're likely to start by managing a small team and then progress to taking responsibility for an entire shift. With experience, it's possible to take on a specific area of expertise such as recruitment, finance or maintenance.
                The next step for a manager is to a field or area management role, with responsibility for supervising the operations of a number of restaurants. Beyond this, there are general operational management or consultancy roles, advising the business on how to manage entire functions.
                There are also opportunities for experienced managers with a significant amount of collateral to open their own franchise. Many companies provide excellent support packages and training for potential franchise owners.
                The training and experience you gain means you can move into other business areas. Some managers take up head office positions, for example in customer relations management. You could also move to hospitality management in a related industry, or pursue general business management in a different sector.
               </p>
            </div>
            <div id="f" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#ffffffb5;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
                <h2 style="text-align:center;">Working hours</h2>
                 <p style="text-align:justify;"> Hours of work are generally long and shift based, and you should be willing to work evenings, weekends and on public holidays. Some managers may work split shifts, with early starts, time off in the middle of the day and a return to work for a later shift.
                    If you're a field or area manager supervising several restaurants, you may be responsible for managing your own diary and have some flexibility in your working hours.</p> 
             </div>
             <div id="g" style="height:45%;width: 100%;line-height: 1.6; float:left;background-color:#208bd2a0;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
                <h2 style="text-align:center;">What to expect</h2>
                 <p style="text-align:justify;"> 
                    <ul>
                        <li>The environment is fast paced, with an emphasis on delivering good customer service in a limited time frame. The atmosphere can be hot, noisy and bustling. You may spend a lot of time 'walking the floor', moving around on foot or standing. The work can be both physically and mentally demanding.</li>
                        <li>Most managers are in charge of one restaurant, and are mainly based at one site. If you are responsible for a number of outlets you will have to travel between them.</li>
                        <li>You'll usually wear a company uniform and dress in accordance with appropriate health and safety requirements associated with food preparation.</li>
                        <li>Many companies operate franchising opportunities, giving you the chance to invest in and run your own branch. Due to the large financial commitment involved, however, you're unlikely to take on a franchise when first starting out.</li>
                        <li>Opportunities are available across the UK and can be city-based or in out-of-town shopping centres, leisure facilities and tourist attractions. Many companies have branches around the world so there may be opportunities for secondments and transfers.</li>
                   </ul> </p> 
             </div>
             <div style="height:60px;width: 45%;line-height: 1.6; float:right;background-color:#0a0909dc;color:white;margin-top:-29.5%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
                <h3 style="text-align:center;">To Check our Job oppurtunities for you,<a href="{% url 'login' %}" style="width:auto;">Log in to our site :)</a></h3>
            </div>
    </body>
    {% endblock %}
</html>