{% extends 'base2.html'%}
<html>
    {% block content %}
    <body>

        <div style="text-align: center;">
            <h1>Writing \ Translation</h1>
        </div>
        <div style="height: 70%;width:25%;float:right;background-color:#0a0909dc;color:white;margin-top:2%;margin-right:2%;border-radius:10px;border-top-right-radius: 50px;border-bottom-left-radius: 50px; padding-left:2%;line-height: 300%;">
          <h2>Wats On this Page</h2> 
           <ul type="square">
            <a href="#a" style="width:auto;color:rgb(255, 255, 255)"><li>Responsibilities</li></a>
            <a href="#b" style="width:auto;color:rgb(255, 255, 255)"><li>Qualifications</li></a>
            <a href="#c" style="width:auto;color:rgb(255, 255, 255)"><li>Skills</li></a>
            <a href="#d" style="width:auto;color:rgb(255, 255, 255)"><li>Work experience</li></a>
            <a href="#e" style="width:auto;color:rgb(255, 255, 255)"><li>Career prospects</li></a>
            <a href="#f" style="width:auto;color:rgb(255, 255, 255)"><li>Working hours</li></a>
            <a href="#g" style="width:auto;color:rgb(255, 255, 255)"><li>What to expect</li></a>
           </ul>
        </div>
        <div id="a" style="height:450px;width: 70%; float:left;background-color:#ffffffb5;margin-top:2%;margin-left:2%;border-radius:5px;padding-left:7px;">
            <h3>Data scientists turn raw data into meaningful information that organisations can use to improve their businesses.</h3>
              <h2>Responsibilities</h2>
                <h3>As a translator, you'll need to:</h3>
                <ul>
                    <li>read through original material and rewrite it in the target language, ensuring that the meaning of the source text is retained</li>
                    <li>use translation memory software, such as Wordfast, memoQ, Across, Trados Studio and Transit NXT, to ensure consistency of translation within documents and help efficiency</li>
                    <li>use specialist dictionaries, thesauruses and reference books to find the closest equivalents for terminology and words used</li>
                    <li>use appropriate software for presentation and delivery</li>
                    <li>research legal, technical and scientific phraseology to find the correct translation</li>
                    <li>liaise with clients to discuss any unclear points</li>
                    <li>proofread and edit final translated versions</li>
                    <li>provide quotations for translation services offered</li>
                    <li>consult with experts in specialist areas</li>
                    <li>retain and develop knowledge on specialist areas of translation</li>
                    <li>follow various translation-quality standards to ensure legal and ethical obligations to the customer.</li>       
                </ul>
        </div>
        <div id="b" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#0a0909dc;color:white;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
           <h2 style="text-align:center;">Qualifications</h2>
            <p style="text-align:justify;">You can become a translator with a degree in any subject, providing that you're fluent in two or more languages. However, certain degrees may increase your chances of securing work and these include:
                <ul>
                    <li>translation studies with languages</li>
                    <li>modern European and/or non-European languages</li>
                    <li>business, law or science with languages.</li>
                </ul>
                Although you don't necessarily need a postgraduate qualification, a Masters in Translation or a professional qualification such as the Chartered Institute of Linguists (CIOL) Level 7 Diploma in Translation (DipTrans) can be useful as competition 
                for jobs and freelance work is strong. A postgraduate qualification may be particularly useful if your first degree is in an unrelated subject. Research courses carefully to make sure they meet your career aims.
                Search postgraduate courses in translation.
                If you have no relevant qualifications but a proven record of excellent language skills, you may still be able to gain translation work. Whether you have official qualifications or not, it's useful to have knowledge of the area in which you may wish to translate, e.g. medical or business.
            </p> 
        </div>
        <div id="c" style="height:45%;width: 45%;line-height: 1.6; float:right;background-color:#208bd2a0;margin-top:1%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Skills</h2>
             <p style="text-align:justify;">
                You need to have:
                <ul>
                <li>fluency in two or more languages (source and target)</li>
                <li>a good understanding and in-depth knowledge of language/country-specific cultures (localisation)</li>
                <li>excellent writing skills and command of grammar</li>
                <li>subject matter knowledge specific to the content you'll be translating</li>
                <li>attention to detail and accuracy</li>
                <li>time management skills as you may be working with different clients at one time</li>
                <li>the ability to work quickly to meet deadlines</li>
                <li>the ability to use initiative in a commercial context</li>
                <li>proficiency in the use of a range of computer packages - knowledge of translation-oriented applications and software is helpful, though not essential</li>
                <li>self-motivation, particularly if working as a freelancer</li>
                <li>self-motivation, particularly if working as a freelancer</li>
                <li>enthusiasm for acquiring knowledge.</li>
               </ul> </p> 
         </div>
         <div id="d" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#ffffffb5;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Work experience</h2>
             <p style="text-align:justify;">Some translation agencies offer internships and work placements, which is a good way of getting experience and finding out whether you would enjoy the career.
                Other useful experience includes language and translating projects from your undergraduate or postgraduate qualifications, examples of how you've used your other language(s) in practice, 
                or any other work you've carried out in a foreign language.
                It may be possible to undertake voluntary translation work for organisations such as Translators without Borders and UN Volunteers
                If you have a particular sector in which you'd like to translate, such as healthcare, community work, technical or law,
                it's useful to have some work experience that demonstrates your skills and knowledge of the area. Copywriting experience can also be also helpful.
                Living or working in your source language country is very beneficial as it will improve your knowledge of the country’s culture.
                Find out more about the different kinds of work experience and internships that are available.
                </p> 
         </div>
         <div id="e" style="height:45%;width: 45%;line-height: 1.6; float:right;background-color:#0a0909dc;color:white;margin-top:1%;margin-right:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
            <h2 style="text-align:center;">Career prospects</h2>
             <p style="text-align:justify;">
                Career development can be quite varied, depending on the sort of work/life balance you would like.
                Developing a successful career as a freelance translator requires a proactive approach to networking. This means keeping in touch with key professional bodies, translator groups and potential employers,
                both nationally and internationally. You should also try to attend workshops and seminars to find out more about sources of work and work providers.
                There are various factors that can affect your career prospects, such as how many commonly used modern languages you know, the number and type of clients you work for, the specialist area you work in, and the rates of pay you are able to command.
                Developing AI technology and improving machine translation software means that there are some different opportunities available to translators who now edit and refine work that has been translated initially by a machine.
                Increasing globalisation has meant there is more demand for transcreation and opportunities to combine your translation and copywriting skills to provide material appropriate for audiences in particular countries.
                With several years' experience, it may be possible to set up your own translation agency. Some translators who do this also include interpreting services as part of their business, 
                drawing on the services of translators and interpreters to meet client needs.
                Some limited opportunities exist in academia for teaching translation skills and theory if you have completed a postgraduate degree.
               </p>
            </div>
            <div id="f" style="height:45%;width: 50%;line-height: 1.6; float:left;background-color:#208bd2a0;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
                <h2 style="text-align:center;">Working hours</h2>
                 <p style="text-align:justify;"> Working hours for in-house translators are usually 9am to 5pm. If you work as a freelance translator, your hours can be flexible but you'll need to organise them to make sure you can meet fixed deadlines.
                    Part-time work is possible and short-term temporary contracts are available. You may need to juggle several freelance projects at one time.</p> 
             </div>
             <div id="g" style="height:45%;width:96%;line-height: 1.6; float:left;background-color:#ffffffb5;margin-top:1%;margin-left:2%;border-radius:5px;padding-left:7px;padding-right:7px;">
                <h2 style="text-align:center;">What to expect</h2>
                 <p style="text-align:justify;"> 
                    <ul>
                        <li>The majority of translators are self-employed. As a freelance translator you'd work from home and enjoy flexible hours, although work flow may be unpredictable.</li>
                        <li>In-house roles are usually office-based where you'll work independently. Working as part of a small team is possible in translation agencies or companies in large cities. Contact with clients is limited and mostly by email or phone.</li>
                        <li>More regular interaction with clients is usually helpful if you're a freelance or literary translator, particularly for seeking commissions for work.</li>
                        <li>There will be some periods of intense concentration and pressure as you near deadlines.</li>
                        <li>You will usually spend time visiting, living or working in relevant countries to keep up your command of the language and to develop your understanding of the culture.</li>
                   </ul> </p> 
             </div>
             <div style="height:102px;width: 60%;line-height: 1.6; float:right;background-color:transparent;margin-top:1%;margin-right:20%;border-radius:5px;padding-left:7px;padding-right:7px;">
                <h2 style="text-align:center;">To Check our Job oppurtunities for you,<a href="{% url 'login' %}" style="width:auto;">Log in to our site :)</a></h2><br>
            </div>
    </body>
    {% endblock %}
</html>